<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="webMarkupMin">
      <section name="core" type="WebMarkupMin.Core.Configuration.CoreConfiguration, WebMarkupMin.Core" />
      <section name="webExtensions" type="WebMarkupMin.Web.Configuration.WebExtensionsConfiguration, WebMarkupMin.Web" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLExpress;Initial Catalog=NExchange;User ID=sa;Password=bfnexchange" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Encryptionkey" value="NE14112016-000000000000000000000012345600000000000000000000007890000000000000000000000000123456000000000000000000000078900" />
     <add key="PasswordForValidate" value="34RxqHH9EqoJn4ZHLTwN5ag3UfZuKcvFfSE7U5FNg0STZ/6yEjxEDfhuJ3wOcr0m" />
    <add key="PasswordForValidateS" value="qChZf3jCnX9S3AGkeMhiiz7BycDuFjZjYBUp/yYfBV8=" />
    <add key="BefatirCert" value="C:\bfnexclient-2048.p12" />
    <add key="ExcelFilePath" value="\\DESKTOP-SN5MV98\ExcelFiles\Cricket2.xlsx" />
    <add key="ExcelFilePathOld" value="\\DESKTOP-SN5MV98\ExcelFiles\Cricket1.xlsx" />
    <add key="ExcelFileDir" value="C:\inetpub\wwwroot\ExcelFiles" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <!--<sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=DESKTOP-SN5MV98\SQLEXPRESS;Initial Catalog=bfnexchange_session;User ID=sa;Password=bfnexchange" cookieless="false" timeout="52560" />-->
    <sessionState timeout="52560"></sessionState>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <httpCompression directory="%SystemDrive%\inetpub\&#xA;temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserServices" closeTimeout="00:30:00"
          openTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IBettingServiceWinner" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IBettingServiceCricketMatchOdds" />
        <binding name="BasicHttpBinding_IBettingServiceCricketCompletedMatch" />
        <binding name="BasicHttpBinding_IBettingServiceCricketInningsRuns" />
        <binding name="BasicHttpBinding_IBettingServiceGrayHoundPlace" />
        <binding name="BasicHttpBinding_IBettingServiceGrayHoundWin" />
        <binding name="BasicHttpBinding_IBettingServiceHorseRacePlace" />
        <binding name="BasicHttpBinding_IBettingServiceHorseWin" />
        <binding name="BasicHttpBinding_IBettingServiceSoccer" />
        <binding name="BasicHttpBinding_IBettingServiceTennis" />
        <binding name="BasicHttpBinding_IUserServices2" />
        <binding name="BasicHttpBinding_IUserServices1" />
        <binding name="BasicHttpBinding_IUserServices3" />
      </basicHttpBinding>
    </bindings>

    <!--<client>
      <endpoint address="http://localhost:54524/Services/APIConfigService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="APIConfigServiceReference.IAPIConfigService" name="BasicHttpBinding_IUserServices2" />
      <endpoint address="http://localhost:54524/Services/BettingServiceWinner.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBettingServiceWinner"
        contract="BettingServiceWinnerReference.IBettingServiceWinner"
        name="BasicHttpBinding_IBettingServiceWinner" />
      <endpoint address="http://78.110.160.52:6009/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserServices" contract="CricketScoreServiceReference.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:54524/Services/BettingServiceCricketMatchOdds.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="BettingServiceCricketMatchOddsReference.IBettingServiceCricketMatchOdds"
        name="BasicHttpBinding_IBettingServiceCricketMatchOdds" />
      <endpoint address="http://localhost:54524/Services/BettingServiceCricketCompletedMatch.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="BettingServiceCricketCompletedMatchReference.IBettingServiceCricketCompletedMatch"
        name="BasicHttpBinding_IBettingServiceCricketCompletedMatch" />
      <endpoint address="http://localhost:54524/Services/BettingServiceCricketInningsRuns.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="BettingServiceCricketInningsRunsReference.IBettingServiceCricketInningsRuns"
        name="BasicHttpBinding_IBettingServiceCricketInningsRuns" />
      <endpoint address="http://localhost:54524/Services/BettingServiceGrayHoundPlace.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="BettingServiceGrayHoundPlaceReference.IBettingServiceGrayHoundPlace"
        name="BasicHttpBinding_IBettingServiceGrayHoundPlace" />
      <endpoint address="http://localhost:54524/Services/BettingServiceGrayHoundWin.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="BettingServiceGrayHoundWinReference.IBettingServiceGrayHoundWin"
        name="BasicHttpBinding_IBettingServiceGrayHoundWin" />
      <endpoint address="http://localhost:54524/Services/BettingServiceHorseRacePlace.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="BettingServiceHorseRacingPlaceReference.IBettingServiceHorseRacePlace"
        name="BasicHttpBinding_IBettingServiceHorseRacePlace" />
      <endpoint address="http://localhost:54524/Services/BettingServiceHorseWin.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="BettingServiceHorseWinReference.IBettingServiceHorseWin"
        name="BasicHttpBinding_IBettingServiceHorseWin" />
      <endpoint address="http://localhost:54524/Services/BettingServiceSoccer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="BettingServiceSoccerReference.IBettingServiceSoccer"
        name="BasicHttpBinding_IBettingServiceSoccer" />
      <endpoint address="http://localhost:54524/Services/BettingServiceTennis.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="BettingServiceTennisReference.IBettingServiceTennis"
        name="BasicHttpBinding_IBettingServiceTennis" />
      <endpoint address="http://localhost:54524/Services/UserServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices3"
        contract="UsersServiceReference.IUserServices" name="BasicHttpBinding_IUserServices" />
      <endpoint address="http://localhost:54524/Services/BettingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices1"
        contract="BettingServiceReference.IBettingService" name="BasicHttpBinding_IUserServices1" />
      <endpoint address="http://localhost:54524/Services/AccountsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices2"
        contract="AccountsServiceReference.IAccountsService" name="BasicHttpBinding_IUserServices3" />
    </client>-->

    <client>
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/APIConfigService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="APIConfigServiceReference.IAPIConfigService" name="BasicHttpBinding_IUserServices2" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceWinner.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBettingServiceWinner" contract="BettingServiceWinnerReference.IBettingServiceWinner" name="BasicHttpBinding_IBettingServiceWinner" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/AccountsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices2" contract="AccountsServiceReference.IAccountsService" name="BasicHttpBinding_IUserServices3" />
      <endpoint address="http://78.110.160.52:8960/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="CricketScoreServiceReference.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceCricketMatchOdds.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceCricketMatchOddsReference.IBettingServiceCricketMatchOdds" name="BasicHttpBinding_IBettingServiceCricketMatchOdds" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceCricketCompletedMatch.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceCricketCompletedMatchReference.IBettingServiceCricketCompletedMatch" name="BasicHttpBinding_IBettingServiceCricketCompletedMatch" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceCricketInningsRuns.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceCricketInningsRunsReference.IBettingServiceCricketInningsRuns" name="BasicHttpBinding_IBettingServiceCricketInningsRuns" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceGrayHoundPlace.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceGrayHoundPlaceReference.IBettingServiceGrayHoundPlace" name="BasicHttpBinding_IBettingServiceGrayHoundPlace" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceGrayHoundWin.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceGrayHoundWinReference.IBettingServiceGrayHoundWin" name="BasicHttpBinding_IBettingServiceGrayHoundWin" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceHorseRacePlace.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceHorseRacingPlaceReference.IBettingServiceHorseRacePlace" name="BasicHttpBinding_IBettingServiceHorseRacePlace" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceHorseWin.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceHorseWinReference.IBettingServiceHorseWin" name="BasicHttpBinding_IBettingServiceHorseWin" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceSoccer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceSoccerReference.IBettingServiceSoccer" name="BasicHttpBinding_IBettingServiceSoccer" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceTennis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceTennisReference.IBettingServiceTennis" name="BasicHttpBinding_IBettingServiceTennis" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/UserServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="UsersServiceReference.IUserServices" name="BasicHttpBinding_IUserServices" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceReference.IBettingService" name="BasicHttpBinding_IUserServices1" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceRest.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="ServiceReference1.IBettingServiceRest" name="BasicHttpBinding_IBettingServiceRest" />
    </client>
  
  </system.serviceModel>
  <webMarkupMin xmlns="http://tempuri.org/WebMarkupMin.Configuration.xsd">
    <core>
      <css>
        <minifiers>
          <add name="NullCssMinifier" displayName="Null CSS Minifier" type="WebMarkupMin.Core.Minifiers.NullCssMinifier, WebMarkupMin.Core" />
          <add name="KristensenCssMinifier" displayName="Mads Kristensen's CSS minifier" type="WebMarkupMin.Core.Minifiers.KristensenCssMinifier, WebMarkupMin.Core" />
        </minifiers>
      </css>
      <js>
        <minifiers>
          <add name="NullJsMinifier" displayName="Null JS Minifier" type="WebMarkupMin.Core.Minifiers.NullJsMinifier, WebMarkupMin.Core" />
          <add name="CrockfordJsMinifier" displayName="Douglas Crockford's JS Minifier" type="WebMarkupMin.Core.Minifiers.CrockfordJsMinifier, WebMarkupMin.Core" />
        </minifiers>
      </js>
      <logging>
        <loggers>
          <add name="NullLogger" displayName="Null Logger" type="WebMarkupMin.Core.Loggers.NullLogger, WebMarkupMin.Core" />
          <add name="ThrowExceptionLogger" displayName="Throw exception logger" type="WebMarkupMin.Core.Loggers.ThrowExceptionLogger, WebMarkupMin.Core" />
        </loggers>
      </logging>
    </core>
  </webMarkupMin>
</configuration>
<!--ProjectGuid: {F21F82B7-9E0C-4805-9A2F-4FD5FE8DD853}-->