<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="Encryptionkey" value="NE14112016-000000000000000000000012345600000000000000000000007890000000000000000000000000123456000000000000000000000078900" />
     <add key="PasswordForValidate" value="34RxqHH9EqoJn4ZHLTwN5ag3UfZuKcvFfSE7U5FNg0STZ/6yEjxEDfhuJ3wOcr0m" />

  </appSettings>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_IUserServices" closeTimeout="00:01:10" openTimeout="00:01:10" sendTimeout="00:01:10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Text">
              <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
              <security mode="None" />
            </binding>

          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/AccountsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="AccountsServiceReference.IAccountsService" name="BasicHttpBinding_IUserServices" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/APIConfigService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="APIConfigServiceReference.IAPIConfigService" name="BasicHttpBinding_IUserServices1" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceReference.IBettingService" name="BasicHttpBinding_IUserServices2" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceCricketCompletedMatch.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceCricketCompletedMatchReference.IBettingServiceCricketCompletedMatch"
                name="BasicHttpBinding_IBettingServiceCricketCompletedMatch" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceCricketInningsRuns.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceCricketInningsRunsReference.IBettingServiceCricketInningsRuns"
                name="BasicHttpBinding_IBettingServiceCricketInningsRuns" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceCricketMatchOdds.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceCricketMatchOddsReference.IBettingServiceCricketMatchOdds"
                name="BasicHttpBinding_IBettingServiceCricketMatchOdds" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceGrayHoundPlace.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceGrayHoundPlaceReference.IBettingServiceGrayHoundPlace"
                name="BasicHttpBinding_IBettingServiceGrayHoundPlace" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceGrayHoundWin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceGrayHoundWinReference.IBettingServiceGrayHoundWin"
                name="BasicHttpBinding_IBettingServiceGrayHoundWin" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceHorseRacePlace.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceHorseRacePlaceReference.IBettingServiceHorseRacePlace"
                name="BasicHttpBinding_IBettingServiceHorseRacePlace" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceHorseWin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceHorseWinReference.IBettingServiceHorseWin"
                name="BasicHttpBinding_IBettingServiceHorseWin" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceSoccer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceSoccerReference.IBettingServiceSoccer"
                name="BasicHttpBinding_IBettingServiceSoccer" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceTennis.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceTennisReference.IBettingServiceTennis"
                name="BasicHttpBinding_IBettingServiceTennis" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/BettingServiceWinner.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="BettingServiceWinnerReference.IBettingServiceWinner"
                name="BasicHttpBinding_IBettingServiceWinner" />
            <endpoint address="http://localhost:8960/bfnexchangeServices/Services/UserServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="UserServicesReference.IUserServices" name="BasicHttpBinding_IUserServices3" />
        </client>
    </system.serviceModel>
</configuration>