<div class="scorecardT" style="text-align:left; " >

	<label class="tennisser" style="float:left; margin-top: -2px; width:25%">
			<label id="lblteamnameAsoccer" style="white-space: nowrap;" class="teno" >PlayerA</label>
			<br />

			<label id="lblteamnameBsoccer" style="white-space: nowrap;" class="teno">PalyerB</label>
			<br />
			<label id="lblset" style="width:auto; color: darkred; margin-top:3px;" class="teno">
				Set <label id="lblsetdata5" style="width:auto; " class="teno"></label> | <label id="lblsetdata3" style="width:auto;" class="teno"></label>:<label id="lblsetdata4" style="width:auto;" class="teno"></label>
			</label>
		</label>


		<label class="tennisScore" style="float:left;  text-align: center;width:20%" >
			<label id="lblsetdata7" style="width:auto; color:green" ></label>
			<br />
			<label id="lblsetdata6" style="width:auto; color:green"></label>



			<br />
			<label style="width:auto;" class="teno"> 1 </label>
		</label>



		<label class="tennisScore" style="float:left;border-right: solid 1px black;  text-align: center;width:10%">
			<label id="lblhomegame" style="width:auto; color:green"></label>
			<br />
			<label id="lblawaygame" style="width:auto; color:green"></label>

			<br />
			<label id="lblsetdata9" style="width:auto;" class="teno"></label>

		</label>


		<label class="tennisScore" style="border-right: solid 1px black;  text-align: center;width:20%">
			<label id="lblhomeScore" style="width:auto; color:green"></label>
			<br />
			<label id="lblawayScore" style="width:auto; color:green"></label>

			<br />
			<label style="width:auto; " class="teno">Points </label>
		</label>


		<label class="tennisScore" style=" text-align: center;width:23%">
			<label id="lblhomeserviceBreaks1" style="width:auto"></label>

			<br />
			<label id="lblawayserviceBreaks2" style="width:auto"></label>
			<br />

			<label style="width:auto; " class="teno"> Srv Break </label>



		</label>


</div>

@*<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
</style>*@

