@model IEnumerable<bfnexchange.Models.LiabalitybyMarket>

@foreach (var item in Model)
{
    <li>
        <a class="active fifthlevellink" onclick="lastLevelBreadcrumb('@item.MarketBookID.ToString()')"><i class="fa TRUE fa-check-square"></i>@item.MarketBookName <br />@item.Liabality</a>

    </li>
}

