@model IEnumerable<bfnexchange.Models.LiabalitybyMarket>

@foreach (var item in Model)
{
    <li>
        <a class="active fifthlevellink" style="padding: 0px; padding-left:0px !important" onclick="lastLevelBreadcrumb('@item.MarketBookID.ToString()')">@item.MarketBookName @item.Liabality</a>

    </li>
}

