@model IEnumerable<bfnexchange.Models.InPlayMatches>

    <div class="defaultpage">
        <div class="col-md-12 no-padding">
            <div class="col-md-12 no-padding">
                <div class="headingdiv">
                    <span class="headingcaption">
                        <strong>Related Event</strong>
                    </span>
                </div>

                <div class="sporthighlightsuldiv">

                    <div class="col-md-12 no-padding">

                      

                    </div>

                </div>

            </div>

        </div>

    </div>




