

<div class="mainscorediv" style="border-bottom: 1px solid #ccc;">
   <div class="firstportion">
       <div class="teamnamesnew">
           <label id="lblteamascore"></label>
           <label id="lblteambscore"></label>
       </div>
       <div class="teamscoresandoversnew">
           <div class="teamsscoresonly">
               <label id="lblteamascorenew">

               </label>
               <label id="lblteambscorenew">

               </label>
           </div>
           <div class="teamsovers">
               <label id="lblteamaovers">

               </label>
               <label id="lblteambovers">

               </label>
           </div>
          
       </div>
   </div>
    <div class="firstportion" style="display:none">
        <div class="runrates">
            <label id="lblcurrRR"></label>
            <label id="lblRR"></label>
          
            
        </div>
        <label id="lblRequirescore">
           
        </label>


     
    </div>
   
    <div class="matchstatusscore">
        <label id="lblMatchStatus"></label>
       
    </div>
  
</div>
<div class="mainscorediv" style="display:none">
    <div class="firstportion">
        <label id="lblrecentoversstr"></label>
       
        <label id="lblLastBallComment"></label>

    </div>
    <div class="firstportion">
        <div class="runrates">
            @*@{Model.StrickerStr = Model.StrickerStr == null ? "Waiting for Batsman" : Model.StrickerStr;}
            @{Model.BowlerStr = Model.BowlerStr == null ? "Waiting for Bowler" : Model.BowlerStr;}*@
           <div>
            <img id="imgstricker" src="~/Content/Images/Cricket.png" />
            <label id="lblStricker"></label></div>
            <div>
                <img id="imgbowler" src="~/Content/Images/Tennis.png" />
                <label id="lblBowler"></label>
                </div>

            </div>
    </div>


</div>
<div class="fullscorecard" style="display:none">
    <div class="teamnames">
        <label id="teamaname" class="teamnamesbtn teamnamebtnactive" onclick="showcurrentteam('A')"></label>
        <label id="teambname" class="teamnamesbtn teamnamebtnsimple" onclick="showcurrentteam('B')"></label>
    </div>
    <div class="scoreacardandsquadbuttonsA">
        <label id="teamASquadbtn" class="teamnamesbtn teamnamebtnactive" onclick="showcurrentviewsquadorscorecard('0')">Squad</label>
        <label id="teamAScoreCardbtn" class="teamnamesbtn teamnamebtnsimple" onclick="showcurrentviewsquadorscorecard('1')">Score Card</label>
    </div>
    <div id="fullscorecarddetails">

    </div>
</div>
   
   
   

<script type="text/javascript">
  
</script>

