<div class="ledgerwraper">

	<div class="seven">
		<a href="/DashBoard/Index" target="_self">
			
			<h2>
				<< Back to Dash_board

			</h2>

		</a>

	</div>


	<div class="container">
		<div>
			<div style="margin-top:10px">

				<div class="btnacc" style="margin-left:12%; margin-top:10px">



					@if (LoggedinUserDetail.GetUserTypeID() == 3)
					{
						<button class="glow-on-hover" onclick="GetEvent('All')" type="button">All</button>
						<button class="glow-on-hover" onclick="GetEvent('Cricket')" type="button">Cricket</button>
						<button class="glow-on-hover " onclick="GetEvent('Hourse Race')" type="button">Fancy</button>
						<button class="glow-on-hover" onclick="GetEvent('Soccor')" type="button">Soccer</button>
						<button class="glow-on-hover" onclick="GetEvent('Hourse Race')" type="button">Horse Race</button>
						<button class="glow-on-hover " onclick="GetEvent('Hourse Race')" type="button">Greyhound</button>

					}

					else
					{
						<button class="glow-on-hover1" onclick="GetEvent('All')" type="button" style="background:#1D9BF0 !important">All</button>
						<button class="glow-on-hover1" onclick="GetEvent('Cricket')" type="button" style="background:#1D9BF0 !important">Cricket</button>
						<button class="glow-on-hover1" onclick="GetEvent('Hourse Race')" type="button" style="background:#1D9BF0 !important">Fancy</button>
						<button class="glow-on-hover1" onclick="GetEvent('Soccor')" type="button" style="background:#1D9BF0 !important">Soccer</button>
						<button class="glow-on-hover1" onclick="GetEvent('Hourse Race')" type="button" style="background:#1D9BF0 !important">Horse Race</button>
						<button class="glow-on-hover1" onclick="GetEvent('Hourse Race')" type="button" style="background:#1D9BF0 !important">Greyhound</button>

					}





				</div>

			</div>
		</div>
	</div>
	<div class="row container">
		<div class="col-md-3 col-sm-12">
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3">From:</label>
				<div class="col-md-7 col-sm-6">
					<input type="text" id="txtDateFrom" class="form-control datepicker" />
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12">
			<div class="form-group">
				<label class="control-label col-md-3"> To:</label>
				<div class="col-md-7">
					<input type="text" id="txtDateTo" class="form-control datepicker" />
				</div>
			</div>
		</div>

		<div class="col-lg-2 col-sm-12">

			<div class="form-group">
				<div class="col-md-offset-3 col-md-2 col-sm-12">
					<input type="button" value="Load" id="btnLoad" class="buttonview" style="font-size: 22px;" />
				</div>
			</div>
		</div>
	</div>
</div>

	<div>
		<div id="resultdetails">

		</div>
	</div>


<script type="text/javascript">
	
	$(document).ready(function () {
		var dateNow = new Date();
		var newdate = new Date(dateNow).setDate(dateNow.getDate() - 1);
		$('#txtDateFrom').datetimepicker({
			format: 'DD-MM-YYYY',
			defaultDate: newdate

		});
		$('#txtDateTo').datetimepicker({
			format: 'DD-MM-YYYY',
			defaultDate: dateNow

		});
		var datefrom = $("#txtDateFrom").val();
		var dateTo = $("#txtDateTo").val();
		var eventtypr = "All";
		$.ajax({
			type: "GET",
			async: true,
			data: { 'DateFrom': datefrom, 'DateTo': dateTo, 'EventType': eventtypr },
			url: "/DashBoard/GetCompletedResult",
			success: function (result) {
				debugger;
				$("#resultdetails").html(result);
				HideLoader();
			},
			complete: function () {
			}

		});
		
		
	});
	function GetEvent(eventtype) {
		debugger;
		var datefrom = $("#txtDateFrom").val();
		var dateTo = $("#txtDateTo").val();
		ShowLoader();


		$.ajax({
			url: '/DashBoard/GetCompletedResult',
			type: 'POST',
			data: { 'DateFrom': datefrom, 'DateTo': dateTo, 'EventType': eventtype },
			complete: function () { },
			success: function (data) {
				$("#resultdetails").html(data);
				HideLoader();
			},
			error: function (data) {
				HideLoader();
			}
		});
	};

</script>
