
@{
    ViewBag.Title = "Stack";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

<div class="page-container">
    <div class="page-content">
        <div>
            <div class="page-body">
                <div class="col-xs-push-12">
                    <div class="row">

                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

