@using bfnexchange.Models
@model LoginViewModel
@{
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
	ViewBag.Title = "Log in";
}


<meta name="Global" content=" A global Trader Company">

<head>
	<style>
		.input-icons i {
			position: absolute;
		}

		.input-icons {
			width: 100%;
			margin-bottom: 10px;
		}


		.btn {
			position: relative;
			display: block;
			color: black;
			font-size: 14px;
			font-family: verdana;
			text-decoration: none;
			margin: 30px;
			border: 2px solid #ff7675;
			padding: 14px 60px;
			text-transform: uppercase;
			letter-spacing: 1px;
			overflow: hidden;
			transition: 1s all ease;
		}

			.btn::before {
				background: #ff7675;
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
				transition: all 0.6s ease;
			}

		.btn1::before {
			width: 0;
			height: 100%;
		}

		.btn1:hover::before {
			width: 100%;
		}


		.text-danger {
			color: blue
		}

		h2 {
			color: green;
		}

		button[type=submit] {
			width: 108%;
			background-color: #075E54;
			color: white;
			padding: 11px;
			margin: 0px 0;
			margin-left: -10px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}

			button[type=submit]:hover {
				flex: 1 0 auto;
				box-shadow: inset 0 0 100px #068b7c;
				color: white;
				background: -webkit-linear-gradient(bottom,#000000,#8be58e);
				text-align: center;
			}
	</style>
</head>
<div class="d-flex justify-content-center h-100">


	<div class="user_card">


		<span class="spani1">

			<img src="~/Content/Images/GT-LOGO.png" class="brand_logo" alt="Global">
		</span>


		<div class="d-flex justify-content-center form_container" style="margin-top: 22px;">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				<div class="input-icons">
					<i class="fa fa-user icon">
					</i>
					@Html.TextBoxFor(m => m.Username, new { autofocus = "autofocus", placeholder = "Username", @id = "txtname", @class = "input-field" })

				</div>

				<div class="input-icons">
					<i class="fa fa-key icon">
					</i>
					@Html.PasswordFor(m => m.Password, new { placeholder = "Password", @id = "txtpass", @class = "input-field" })


				</div>

				<div class="form-group" font-family:'Josefin Sans'">
					<div class="col-md-12" style="padding-right: 38px !important">

						<label> <input type="checkbox" style="color:ActiveBorder; width:28px; margin-left:21px; left:auto; font-family:'Josefin Sans'" />  <b>Remember Me</b> </label>
					</div>
				</div>

				<div class="input-field">
					<button type="submit" id="btnLogin" class="btn btn1" name="button">Login</button>
				</div>

				@*<div class="form-group">
						<div class="col-md-12">
							<input type="submit" id="btnLogin" style="margin: 0px auto; width: 30%" value="Log in" class="btn btn-default" />

						</div>
					</div>*@

				@*<div class="form-group" style="display:none" id="loaderdivnew">
						<div class="col-md-offset-2 col-md-12">
							<img src="~/Content/Images/ajax-loader.gif" style="width:100%" />

						</div>

					</div>


					<div class="form-group">
						<div class="col-md-12">
							<div class="loginline" style = "margin: 0px auto; width: 70%"></div>
							<div class="loginor">
								OR
							</div>
						</div>
					</div>
					<div class="form-group signuparea">

						<br>
						<br>

						<a href="http://78.110.160.52:6980/publish.htm" title="Get Desktop App"><i class="fa fa-desktop fa-3x fa-border" style="width:65px"></i></a>
						<a href="https://play.google.com/store/apps/details?id=com.globaltrade&hl=en" title="Get Android App"> <i class="fa fa-android fa-3x greencolor fa-border" style="width:65px"> </i></a>


					</div>*@
			}
			@*</section>*@






		</div>
		<div class="main-container">

			<p>
				<strong><a href="#" onclick="showaboutus()" style="color:black">About us</a> | </strong>

				<strong><a href="https://globaltraderexch.com/Terms/Index#cookiepolicy" onclick=" window.open('/Terms/Index#cookiepolicy', '_blank', 'width=800, height=600', window.focus()) " style="color:black">Cookie Policy</a> | </strong>

				<strong><a href="https://globaltraderexch.com/Terms/Index#term" onclick=" window.open('/Terms/Index#term', '_blank', 'width=800, height=600', window.focus()) " style="color:black">Terms &amp; Conditions</a> | </strong>

				<strong><a href="https://globaltraderexch.com/Terms/Index#responsiblegambling" onclick=" window.open('/Terms/Index#responsiblegambling', '_blank', 'width=800, height=600', window.focus()) " style="color:black">Gambling can be addictive, please play responsibly</a> | </strong>

				<strong><a href="#" onclick=" window.open('/Terms/Index#parentalsupervision', '_blank', 'width=800, height=600', window.focus()) " style="color:black">Parental Supervision</a> | </strong>


			</p>
			<hr>
			<p style="background-color:#d5d5d5">

				<span class="powerdby">Powered by </span>
				<img    height="40"    width="110"   alt="Global" src="~/Content/Images/betfair-logo.png" />
			</p>


		</div>

	</div>
</div>






