
<div class="scorecard" style="text-align:left">

	<div>

		<span class="teamscore eleven">
			<label class="eleven" id="lblteamA" style="width:auto"></label>
			<label class="eleven" id="lblteamAscore" style="width:auto"></label>/
			<label class="eleven" id="lblwkt" style="width:auto"></label>
			(<label  class="eleven" id="lblov" style="width:auto"></label>)
		</span>

		<span class="runrate eleven">
			<label class="eleven" id="lblcurrRR" style="width:auto">CRR:</label>
			<label class="eleven" id="lblCRR" style="width:auto"></label>
			<label class="eleven" id="lblcurrRR" style="width:auto">RR:</label>
			<label class="eleven" id="lblRR" style="width:auto"></label>
		</span>

		<br />
	
		<span class=" teamscore eleven">

			<label class="eleven" id="lblmassgae" style="width:auto"></label>

		</span>


		<span class="runrate eleven">
			<label class="eleven"  id="lblblass" style="width:auto">Last 6 Balls:</label>
			<label class="eleven" id="lblballs" style="width:auto"></label>
		</span>


		<span class="Update commantry" id="lbllastball" style="width:auto; ">


		</span>



	</div>

</div>

	<script type="text/javascript">

	</script>

