html,
body {
    height: 100%;
}

body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 88%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    width: 51%;
}

.logo-img {
    width: 100%;
}

.navbar-label, .navbar-header a {
    font-size: 14px !important;
    padding:2px 8px !important;
}

.navbar-header {
    margin-top: 0px;
}



.errordivfixed {
    width: 90%;
    position: fixed;
    top: 15px;
    background-color:red;
    text-align: center;
    color:white;
    display: none;
    font-size: 21px;
    z-index: 2500;
    padding: 7px;
    border-radius: 5px;
}

.modalpopuploader {
    position: fixed;
    z-index: 1999;
    height: 100%;
    width: 100%;
    top: 0;
background-color: rgba(222, 212, 212, 0.75);
    filter: alpha(opacity=60);
    opacity: 1;
    -moz-opacity: 1;
    display:none;
}
.centerdiv img { margin:10px auto;
                 width:220px;
}
.centerdiv {
    z-index: 1000;
    margin: 150px auto;
    padding: 0px;
    width: 220px;
     background-color: #ffffff08;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
    text-align:center;
}

.center img {
    height: 128px;
    width: 128px;
}
.maincategory-sports li
{
display:block !important;
float: left;
    width: 100%;
}
.maincategory-sports
{
    display:block;
    width:95%;
}
.maincategory-sports a
{
    font-size:15px;
    color:white !important;
   background: #45484d;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

  
}
    .maincategory-sports a:hover {
        background-color: #b0d087 !important;
    }.competitions,.events,.marketcatalogue
{
  
}
.competitions a,.events a,.marketcatalogue a
{
  
}
.competitions li a 
{
  
}
.events li a
{
  
}
.marketcatalogue li a
{
   
}
#detailsselecteditem
{
    margin-left:10px;
    margin-right:10px;
    float:left;
    padding:5px;
    display:none;
}
.breadcrumbeventname
{
   margin-left:15px;
 float:left;
}
.breadcrumbmarkettypename
{
    margin-left:25px;
    float:left;
   
}
a:hover
{
 
}
.acidjs-css3-treeview,
.acidjs-css3-treeview *
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.acidjs-css3-treeview label[for]::before,
.acidjs-css3-treeview label span::before
{
    content: "\25b6";
    display: inline-block;
    margin: 2px 0 0;
    width: 13px;
    height: 13px;
    vertical-align: top;
    text-align: center;
    color:black;
    font-size: 12px;
    line-height: 13px;
}
.acidjs-css3-treeview .lastlevelspan::before {
    content:"" !important;
}
.acidjs-css3-treeview li ul
{
    margin: 0 0 0 22px;
}
 
.acidjs-css3-treeview *
{
    vertical-align: middle;
}
 
.acidjs-css3-treeview
{
    font: normal 11px/16px "Segoe UI", Arial, Sans-serif;
}
 
.acidjs-css3-treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
 
.acidjs-css3-treeview input[type="checkbox"]
{
    display: none;
}
 
.acidjs-css3-treeview label
{
    cursor: pointer;
}
 
.acidjs-css3-treeview label[for]::before
{
    -webkit-transform: translatex(-24px);
    -moz-transform: translatex(-24px);
    -ms-transform: translatex(-24px);
    -o-transform: translatex(-24px);
    transform: translatex(-24px);
}
 
.acidjs-css3-treeview label span::before
{
    -webkit-transform: translatex(16px);
    -moz-transform: translatex(16px);
    -ms-transform: translatex(16px);
    -o-transform: translatex(16px);
    transform: translatex(16px);
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\25bc";
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none;
}
 
.acidjs-css3-treeview label:not([for])
{
    margin: 0 8px 0 0;
}
 
.acidjs-css3-treeview label span::before
{
    content: "";
    border: solid 1px #1375b3;
    color: #1375b3;
    opacity: .50;
}
 
.acidjs-css3-treeview label input:checked + span::before
{
    content: "\2714";
    box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
    opacity: 1;
}
.acidjs-css3-treeview label input:indeterminate + span::before
{
    content: "\268A";
    box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
    opacity: 1;
}
.createuser{
    float:left;
    width:100%;
}
.favoriteitem
{
    width:12px;
    margin-left:10px;
   
}
.mymarketitems
{
        float: left;
    width: 100%;
}
#myModalContent{
	color:white;
	
}
.mymarketitems .srnum,.mymarketitems .nameandimg,.mymarketitems .liability{
     float: left;
   
    background-color: white;
    color: #b0d087;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
} 
.mymarketitems .srnum{
    width: 15%;
}
.mymarketitems .nameandimg
{
width: 64%;
    float: left;
    margin-bottom: 5px;
}
.mymarketitems .nameandimg label{
    margin-bottom:0;
}
.mymarketitems .liability
{
    width: 15%;
}
#txtAdminPassword
{
width:258px;
font-size:20px;
text-align:center;

}
#myModalPassword .modal-dialog
{
    width:280px !important;
}
.no-padding
{
    padding-left:0px !important;
    padding-right:0px !important;
	min-height:0px;
}
#marketbook,#betslipcontent
{
    text-align:center;
    padding:0px;
}
#marketbook
{
    float:left;
    width:100%;
    margin-top:10px;
}
.backhead
{

}
.layhead
{
    
}
#marketbook label,#betslipcontent label {
margin-bottom:0px;
padding:0px;
color:black;
 width:100%
}
.runnerswrapper
{
 
  border:1px solid;
  padding:2px;
 
}
.runnerswrapper:last-child
{
     border-top: 1px solid white;
     border-bottom:1px solid !important;
}
.runnerswrapper:nth-child(1){
     border-top: 1px solid;
}
.layitem:nth-child(1)
{
  background: #DF98AA;
  min-height:0px;
}
.backitem:nth-child(3){
    background-color:#76b5d2;
     min-height:0px;
}
.backitem label,.layitem label
{
    border-left:0px solid;
    border-right:0px solid;
    border-bottom:0px solid;
    border-top:0px solid;
    
   
}
.runnerslastprice
{
 
}

.runnersname
{
  width:85% !important;
  text-align:left;
}
.jockeyname{
float: left;
    font-size: 12px;
   
    text-align: left;
    margin-left: 97px;
}
.runnersnameHorse{
   width: 55% !important;
    text-align: left;
}
audio { 
   display:none !important;
}

.runnerwearing{
    float: left;
    margin-left: 5px;
}
.amountbutton input[type="button"] ,.amountbuttonmultiple input[type="button"]
{
    width: 31%;
   padding: 4px;
    margin: 2px;
    font-weight: bold;
}
#betslipmultiple .amounts{
  width:100% !important;
  text-align:center;
}
.amounts
{
    width:50%;
    float:left;
}
#betslipmultiple .amountarea{
    background-color:rgba(0, 0, 0, 0) !important;
    border-top:0px !important;
    margin-top: 0px; 
     padding-top: 0px;
}
#betslipbackmultiple
{
    border: 2px solid rgb(48, 37, 37);
    padding: 0px !important;
    margin: 0px !important;
    font-size:25px;
   line-height: 50px;
        height: 56px;
    width: 76px;

     background-color:#84b8dc;
}
#betsliplaymultiple{
    border: 2px solid rgb(48, 37, 37);
   padding: 0px !important;
    margin: 0px !important;
    font-size:25px;
   line-height: 50px;
        height: 56px;
    width: 76px;

     background-color:#DF98AA;
}
.amounts input[type="number"]
{
width:90%;
padding: 4px;
    text-align: center;
}
.amounts input[type="text"]
{
width:70%;
padding: 4px;
    text-align: center;
    float:left;
    margin-left:10px;
}
.plusminus
{
    float: left;
    width: 17%;
    text-align: left;
    margin-left: 5px;
    height: 10px;
    font-size: 11px;
}
.amountarea
{
    border-top: 1px solid;
    float: left;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom:15px;
    background-color:white;
}
#betslipoddlabel, #betslipoddlabelmultiple
{
    color:green !important;
}
#betslipamountlabel,#betslipamountlabelmultiple
{
    color:red !important;
}
.selectionprice:hover
{
    font-size:18px;
    cursor:pointer;
}
.selectionprice
{
    font-size:16px;
}
.selectionsize
{
    font-size:12px;
    padding: 2px 0px !important;
}
.dropdown-menu
{
    padding:0px !important
}
.matchstatus
{
    padding:5px;
    text-align: right;
    width: 100%;
   font-size: 16px;
}
.marketstattusdiv
{
    font-size: 55px;
    color: red;
}
.highlighted{
    background-color:yellow !important;
}
#betslipcontent label
{
font-size:16px;
}
#lblCounter
{
    font-size:55px;
}
#userbets{
    width:95%;
    text-align:center;
   float:left;
    border: 1px solid black;
   
    margin-top:5px;
    max-height:360px;
        overflow: auto;


}
label{
    margin-bottom:0px ;
    padding:5px;
}
.unmatched-bets .selection{
width:38% !important;
}
.selection
{width:60%;
 float:left;
 border-right: 1px solid black;
 text-align:left;
}
.Odd
{
    width:15%;
     float:left;
     border-right: 1px solid black;
}
.Amount
{
    width:25%;
     float:left
}
.bets-items
{
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
	font-size:12px;
   
}
.bets-header
{ float: left;
    width: 100%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background:  #243876;
    background: -moz-linear-gradient(top, #243876 0%,#122254 100%);
    background: -webkit-linear-gradient(top, #243876 0%,#122254 100%);
    background: linear-gradient(to bottom, #243876 0%,#122254 100%);

     color:white;
}
.unmatched-bets,.matched-bets
{
    float:left;
    width:100%;
}
.bets-items label{
    font-weight:bold;
}
#userbets h4
{
   padding: 8px 0;
    border-bottom: 1px solid #ccc;
   background: #45484d;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

    color:white;
    margin: 0;
}
 .unmatched-bets .back,.matched-bets .back
{
      background-color:#76b5d2 !important;
}
.unmatched-bets .lay,.matched-bets .lay
{
      background-color: #DF98AA !important;
}
.Editcancel
{
    float:left;
    width:5%;
}
.unmatched-bets .Amount
{
    width:32%;
    border-right:1px solid #ccc;
}
.unmatched-bets span
{
    padding:5px 0px;
}
.runnersprofitlossgreen
{
    color:darkgreen !important;
}
.runnersprofitlossred
{
    color:red !important;
}
.marketstatus
{
float:right;
width:15% !important;
text-align:right;
font-size:17px;
}
.marketinfo
{
   float:left;
   width:100%;
}
 .suspended{
     color:red !important;
 }
 .inplay
 {
background-color:white !important; 
    text-align: center;
 }
 .completed
 {
color:green !important
 }
 .marketname
 {
     float:left;
     width:75% !important;
     text-align:left;
 }
 .marketbooksul
 {
padding: 0;
  width: 100%;
  display: table;
 
 }
 .marketbooksul li{
      display: table-cell;
  width: auto;
  text-align:left;
  float:none !important;
  vertical-align: top;
  padding:5px;
 }
    .marketbooksul li:hover {
        background-color: #eeeeee;
    }
    .marketbooksul li a {
    float:left;
    max-width:73%;
   height: 29px;
    padding: 5px !important;
    margin-right: 0px !important;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    }
    .marketbooksul li.active {

    border: 1px solid #dddddd; 
  background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); 

    }
    .marketbooksul li a:hover {
     
    }
     .marketbooksul li.active a {
         background-color: rgba(0, 0, 0, 0) !important;
          color:white !important;
    border: none !important; 
    font-weight: bold;
    font-size: 18px;
    }
     .marketbooksul .close{
         padding:3px;
         max-width:26%;
         text-align:right;
         color:white !important;
     }
     .ledgerwraper
     {
float: left;
    width: 100%;
     }
     #ledgerdetails{

     }
     .favoriteselection
     {
       float: left;
   width:300px;
    padding: 0px !important;
    border: 1px solid;
    margin-bottom: 10px;
     }
     .favoriteselectionname
     {
          font-size: 20px;
  
    
    border: 1px solid;
  
     }
     .favoriteselectionname label
     {
        
     }
     .favoritepricebackandlay
     {
         float: left;
    width: 100%;
     }
      .favoritepricebackandlay label
     {

     }
     .favoritebackprice
     {
width: 50%;
    float: left;
    margin: 5px 0 0 0;
    font-size: 24px;
    border: 1px solid;
    background-color: #76b5d2;
     }
     .favoritebackprice label
     {

     }
     .favoritelayprice
      {
        width: 49%;
    float: right;
    margin: 5px 0 0 0;
    font-size: 24px;
    border: 1px solid;
    background: #DF98AA;
      }
      .favoritelayprice label
      {

      }
     .favoritesizebackandlay
     {
           float: left;
    width: 100%;
     }
    
     .favoritebacksize{
  width: 50%;
    float: left;
    border: 1px solid;
    margin: 3px 0px 0 0 ;
    font-size: 12px;
  
   
     }
     .favoritebacksize label{
         font-size: 12px;
     }

     .favoritelaysize
     {
      width: 49%;
    float: right;
    margin: 3px 0px 0 0 ;
    font-size:12px;
  
    border: 1px solid;

   
     }
     .favoritelaysize label
     {
font-size: 12px;
     }
     .markettime
     {
         float:left;
         width:10% !important;
         text-align:right;
     }
     .userproile li
     {
         display:block !important;
     }
     .userproile
     {
         width:100%;
     }

     .mainheaderdiv
     {
         margin-bottom: 10px;
    border-bottom: 1px solid;
    width: 95%;
     }
     .navbar-header li
     {
      
   
    padding: 0px 5px;
     }
      .navbar-header li label{
         
      }
       .navbar-header li a
       {
         
       }

       #inplayul li:hover > ul { display:block;   /*visibility: visible;*/}
        #allsportsul li:hover > ul { display:block;   /*visibility: visible;*/}
       .ledgerdebit
       {
           color: #069b06 !important;
    
       }
       .ledgercredit
       {
color: red !important; 
       }
       .ledgerbalance
       {

       }
       #ledgerdetails
       {
           font-weight:bold;
       }
       .user-betsagents-wrapper .Amount
       {
           width:27% !important;
           border-right: 1px solid;
       }
       .user-betsadmin-wrapper .Amount
       {
           width:16% !important;
           border-right: 1px solid;
       }
   /*.user-betsagents-wrapper .unmatched-bets .back,.matched-bets .back
{
      background-color: #DF98AA !important;
}
.user-betsagents-wrapper .unmatched-bets .lay,.matched-bets .lay
{
     background-color:#76b5d2 !important;
     
}*/
   
.user-betsagents-wrapper .selection
{
    width:30% !important;
}
.user-betsagents-wrapper .Odd
{
     width:15% !important;
}
.user-betsadmin-wrapper .selection
{
    width:25% !important;
}
.user-betsadmin-wrapper .Odd
{
     width:11% !important;
}
.customername
{
    float:left;
    width:28%;
}
.user-betsadmin-wrapper .customername
{
  float: left;
    width: 23%;
    border-right: 1px solid;
}
.dealername{
    width: 25%;
    float: left;
    border-right: 1px solid;
}
.user-betsagents-wrapper .bets-items label
{
    font-weight:normal !important;
}
.matchedbetsheading
{
   color: white;
    font-size: 24px;
    width: 100%;
    text-align: center;

}
.user-betsadmin-wrapper{
    font-size: 11px;
}
.footer-bfimg
{
        float: right;
    width: 150px;
    margin-bottom: 10px;
}
#mainuserbetdivAdmin
{
    float:left;
    width:100%;
} 
.checkboxrunnername
{
    float: left;
    margin-left: 4px !important;
}
.runnerbackandlaydiv
{
     width:59%
}
.runnerprofitandlossdiv
{
      width:12%
}
.runnerlastpricediv
{
      width:5%
}
     
.runnernamediv{
    width:24%
}
.backgroundimageforSuspended{
    float:left;
    width:100%;
    height: 99px;
    position: fixed;
    z-index: 530 !important;
    margin-top: 157px;
    display:none;
}
.backgroundsuspended{
  
     background-position-x: 577px;
      background-repeat:no-repeat;
}
.backgroundclosed{
   
    background-position-x: 577px;
      background-repeat:no-repeat;
}
.averagerates
{
text-align: center;
    font-size: 20px;
    width: 80px;
    font-weight: bold;
    border: 1px solid;
}
.averagecalculations
{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.ddlaveragerunners
{
    font-size: 15px;
    margin-bottom: 6px;
   padding:6px 0px;
   width:90%;
}
.averageLateover1
{
   
}
.averageLateover2{
  
}
.greenclass{
color: #05bb05 !important;
    font-size: 23px;
}
.redclass{
    color: red !important;
    font-size: 23px;
}
#todayhorseraceui,#todaygrayhoundraceui
{
    max-height: 350px;
    overflow: auto;
}
.runnerwinner
{
    background-color: green;
    background-size: cover;
    min-height: 49px;
    color: white !important;
}
.runnersclothnumber
{
    width:20px !important;
    float:left;
}
.tobeplacedcount{
        float: left;
    width: 630px;
    margin-top: 17px;
    font-size: 25px;
}
.runnersStallDraw
{
    width: 25px !important;
    float: left;
}
.refreshbutton{
  
    margin-left: 25px;
    padding: 1px 12px !important;
}
.adminrunners
{
    float:left;
width:26%;
}
.adminodds
{
  float:left;
width:10%;
}
.adminamount
{
      float:left;
width:20%;
}
.adminbettype
{
  float:left;
width:11%;
}
.admincuttingusers{
  float:left;
width:12%;
}
.adminamount input[type="text"], .adminodds input[type="text"]
{
    width:90% !important;
}
.adminaddbutton
{
    float:left;
    width:10%;
}
.runnerfavorite
{
     background-color:bisque;
    background-size: cover;
    min-height: 49px;
  
}
.usernameandliablity{
    width:50%;
    float:left;
    margin:10px 0 0 0 ;
}
.headerdiv
{
    float:left;
}
.runnerprofitandlossdivMobile{
    display:none;
}
.cancelbetbutton{

}
.loadingimg{
    display:none;
}
 @media(max-width:1068px){
     html,
body {
    height: 100%;
    font-size: 12px;
}
     .runnerprofitandlossdivMobile{
   float: left;
    width: 100%;
    display: block;
    margin-top: 0px;
    text-align: left;
    margin-left: 5px;
}
body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 80%;
	margin-bottom: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}
.navbar-collapse.in{
    overflow-y:visible;
}
.logo {
    width: 40%;
}

.logo-img {
    width: 85%;
}

.navbar-label, .navbar-header a {
    font-size: 14px !important;
    padding:2px 8px !important;
}

.navbar-header {
    margin-top: 0px;
	margin-bottom: 50px;
}

.navbar-buttons {
   background: #243876;
    background: -moz-linear-gradient(top, #243876 0%,#122254 100%);
    background: -webkit-linear-gradient(top, #243876 0%,#122254 100%);
    /*background: linear-gradient(to bottom, #243876 0%,#122254 100%);*/
      background:linear-gradient(to bottom, #0e0e39 56%,#02020e 85%);
    color: white;
    border: 1px solid white;
    padding: 10px;
    width:100%;
   font-size:14px;
   text-align:left;
}

    .navbar-buttons:hover, .navbar-header a:hover {
       color: white;
        /*background: #243876;*/
          background:linear-gradient(to bottom, #0e0e39 56%,#02020e 85%);
    }

.errordivfixed {
    width: 90%;
    position: fixed;
    top: 15px;
    background-color:red;
    text-align: center;
    color:white;
    display: none;
    font-size: 21px;
    z-index: 2500;
    padding: 7px;
    border-radius: 5px;
}

.modalpopuploader {
    position: fixed;
    z-index: 1999;
    height: 100%;
    width: 100%;
    top: 0;
background-color: rgba(222, 212, 212, 0.75);
    filter: alpha(opacity=60);
    opacity: 1;
    -moz-opacity: 1;
    display:none;
}
.centerdiv img { margin:10px auto;
                 width:220px;
}
.centerdiv {
    z-index: 1000;
    margin: 150px auto;
    padding: 0px;
    width: 220px;
     background-color: #ffffff08;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
    text-align:center;
}

.center img {
    height: 128px;
    width: 128px;
}
.maincategory-sports li
{
display:block !important;
float: left;
    width: 100%;
}
.maincategory-sports
{
    display:none;
    width:100%;
}
.maincategory-sports a
{
    font-size:15px;
    color: white !important;
    background:  #243876;
    background: -moz-linear-gradient(top, #243876 0%,#122254 100%);
    background: -webkit-linear-gradient(top, #243876 0%,#122254 100%);
    /*background: linear-gradient(to bottom, #243876 0%,#122254 100%);*/
     background:linear-gradient(to bottom, #0e0e39 56%,#02020e 85%);

  
}
    .maincategory-sports a:hover {
        background-color: #b0d087 !important;
    }.competitions,.events,.marketcatalogue
{
  
}
.competitions a,.events a,.marketcatalogue a
{
  
}
.competitions li a 
{
  
}
.events li a
{
  
}
.marketcatalogue li a
{
   
}
#detailsselecteditem
{
    margin-left:10px;
    margin-right:10px;
    float:left;
    padding:5px;
    display:none;
}
.breadcrumbeventname
{
   margin-left:15px;
 float:left;
}
.breadcrumbmarkettypename
{
    margin-left:25px;
    float:left;
   
}
a:hover
{
 
}
.acidjs-css3-treeview,
.acidjs-css3-treeview *
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.acidjs-css3-treeview label[for]::before,
.acidjs-css3-treeview label span::before
{
    content: "\25b6";
    display: inline-block;
    margin: 2px 0 0;
    width: 13px;
    height: 13px;
    vertical-align: top;
    text-align: center;
    color:black;
    font-size: 12px;
    line-height: 13px;
}
.acidjs-css3-treeview .lastlevelspan::before {
    content:"" !important;
}
.acidjs-css3-treeview li ul
{
    margin: 0 0 0 22px;
}
 
.acidjs-css3-treeview *
{
    vertical-align: middle;
}
 
.acidjs-css3-treeview
{
    font: normal 11px/16px "Segoe UI", Arial, Sans-serif;
}
 
.acidjs-css3-treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
 
.acidjs-css3-treeview input[type="checkbox"]
{
    display: none;
}
 
.acidjs-css3-treeview label
{
    cursor: pointer;
}
 
.acidjs-css3-treeview label[for]::before
{
    -webkit-transform: translatex(-24px);
    -moz-transform: translatex(-24px);
    -ms-transform: translatex(-24px);
    -o-transform: translatex(-24px);
    transform: translatex(-24px);
}
 
.acidjs-css3-treeview label span::before
{
    -webkit-transform: translatex(16px);
    -moz-transform: translatex(16px);
    -ms-transform: translatex(16px);
    -o-transform: translatex(16px);
    transform: translatex(16px);
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\25bc";
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none;
}
 
.acidjs-css3-treeview label:not([for])
{
    margin: 0 8px 0 0;
}
 
.acidjs-css3-treeview label span::before
{
    content: "";
    border: solid 1px #1375b3;
    color: #1375b3;
    opacity: .50;
}
 
.acidjs-css3-treeview label input:checked + span::before
{
    content: "\2714";
    box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
    opacity: 1;
}
.acidjs-css3-treeview label input:indeterminate + span::before
{
    content: "\268A";
    box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
    opacity: 1;
}
.createuser{
    float:left;
    width:100%;
}
.favoriteitem
{
    width:12px;
    margin-left:10px;
   
}
.mymarketitems
{
        float: left;
    width: 100%;
}
.mymarketitems .srnum,.mymarketitems .nameandimg,.mymarketitems .liability{
     float: left;
   
    background-color: white;
    color: #b0d087;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
} 
.mymarketitems .srnum{
    width: 15%;
}
.mymarketitems .nameandimg
{
width: 64%;
    float: left;
    margin-bottom: 5px;
}
.mymarketitems .nameandimg label{
    margin-bottom:0;
}
.mymarketitems .liability
{
    width: 15%;
}
#txtAdminPassword
{
width:258px;
font-size:20px;
text-align:center;

}
#myModalPassword .modal-dialog
{
    width:280px !important;
}
.no-padding
{
    padding-left:0px !important;
    padding-right:0px !important;
	min-height:0px;
}
#marketbook,#betslipcontent,#marketbookTWT
{
    text-align:center;
    padding:0px;
    float:left;
}
#marketbook
{
    float:left;
    width:100%;
    margin-top:0px;
}
.modal-dialog{
    float:left;
}
.backhead
{

float:left;
width:50%;
font-size:17px;
color:white !important
}
.backhead label{
color:white !important	
}
.layhead label{
	color:white !important
}
.layhead
{
   
    float:left;
width:50%;
font-size:17px;
color:white !important
}
#marketbook label,#betslipcontent label,#marketbookTWT label {
margin-bottom:0px;
padding:0px;
color:black;
 width:100%
}
.runnerswrapper
{
 
 
  padding:0px;
  float:left;
  width:100%;
  border-bottom: 2px solid #ccc;
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
	margin-bottom:1px;
 
}
.runnerwrapperhead{
	 /*background:#243876;*/
      background:linear-gradient(to bottom, #0e0e39 56%,#02020e 85%);
}
.runnerswrapper:last-child
{
     border-top: 0px solid white;
     border-bottom:2px solid #ccc !important;
}
.runnerswrapper:nth-child(1){
    
	
	
}
.layitem:nth-child(1)
{
  background: #DF98AA;
  float:right;
width:49%;
text-align:center;
min-height:45px;
}
.backitem:nth-child(3){
    background-color:#76b5d2;
    float:left;
width:50%;
text-align:center;
min-height:45px;
}
.layitem:nth-child(2),.layitem:nth-child(3)
{
 display:none;
}
.backitem:nth-child(1),.backitem:nth-child(2){
    display:none;
}
.backitem label,.layitem label
{
    border-left:0px solid;
    border-right:0px solid;
    border-bottom:0px solid;
    border-top:0px solid;
    
   
}
.runnerslastprice
{
 
}

.runnersname
{
  width:85% !important;
  text-align:left;
   text-decoration:underline;
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
	white-space:nowrap;
    text-transform:uppercase;
}
.jockeyname{
float: right;
   font-size: 9px;
    text-align: left;
    margin-left: 0;
    width: 61% !important;
     text-overflow: ellipsis;
  
    overflow: hidden;
	margin-top:-5px;
	white-space:nowrap;
	color:#243876 !important;
	
}
.runnersnameHorse{
   width: 60% !important;
    text-align: left;
     text-overflow: ellipsis;
    height: 17px;
    overflow: hidden;
    text-decoration:underline;
	white-space:nowrap;
	color:#243876 !important;
    text-transform:uppercase;
}
audio { 
   display:none !important;
}
.wearingdiv{
    width: 22px;
    float: left;
    margin-top:0px;
}
.runnerwearing{
    float: left;
    margin-left: 4px;
    width:100%;
}
.amountbutton input[type="button"] ,.amountbuttonmultiple input[type="button"]
{
    width: 31%;
   padding: 10px;
    margin: 2px;
    font-weight: bold;
}
.glyphicon-chevron-up{
    width:100%;
}
#betslipmultiple .amounts{
  width:100% !important;
  text-align:center;
}
.amounts
{
    width:50%;
    float:left;
}
#betslipmultiple .amountarea{
    background-color:rgba(0, 0, 0, 0) !important;
    border-top:0px !important;
    margin-top: 0px; 
     padding-top: 0px;
}
#betslipbackmultiple
{
    border: 2px solid rgb(48, 37, 37);
    padding: 0px !important;
    margin: 0px !important;
    font-size:25px;
   line-height: 50px;
        height: 56px;
    width: 76px;

     background-color:#84b8dc;
}
#betsliplaymultiple{
    border: 2px solid rgb(48, 37, 37);
   padding: 0px !important;
    margin: 0px !important;
    font-size:25px;
   line-height: 50px;
        height: 56px;
    width: 76px;

     background-color:#DF98AA;
}
.amounts input[type="number"]
{
width:90%;
padding: 4px;
    text-align: center;
}
.amounts input[type="text"]
{
width:70%;
padding: 4px;
    text-align: center;
    float:left;
    margin-left:10px;
}
.plusminus
{
    float: left;
    width: 17%;
    text-align: left;
    margin-left: 5px;
    height: 10px;
    font-size: 11px;
}
.amountarea
{
    border-top: 1px solid;
    float: left;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom:15px;
    background-color:white;
}
#betslipoddlabel, #betslipoddlabelmultiple
{
    color:green !important;
}
#betslipamountlabel,#betslipamountlabelmultiple
{
    color:red !important;
}
.selectionprice:hover
{
    font-size:20px;
    cursor:pointer;
}
.selectionprice
{
    font-size:20px;
    padding:0px 0px !important;
    min-height:0px;
	 width:100%;
	 font-weight:normal;
	 
}
.selectionsize
{
    font-size:10px;
    padding: 0px 0px !important;
	 width:100%;
	  font-weight:normal;
}
.dropdown-menu
{
    padding:0px !important;
    width:100%;
}
.matchstatus
{
    padding:5px;
    text-align: right;
    width: 100%;
   font-size: 16px;
}
.marketstattusdiv
{
    font-size: 55px;
    color: red;
}
.highlighted{
    background-color:yellow !important;
}
#betslipcontent label
{
font-size:14px;
font-weight:normal;
}
#lblCounter
{
    font-size:55px;
}
#userbets{
    width:100%;
    text-align:center;
   float:left;
    border: 1px solid black;
   
    margin-top:5px;
    max-height:360px;
        overflow: auto;
        margin-bottom:50px;

}
label{
    margin-bottom:0px ;
    padding:2px;
}
.unmatched-bets .selection{
width:45% !important;
}

.selection
{width:65%;
 float:left;
 border-right: 1px solid black;
 text-align:left;
}
.Odd
{
    width:15%;
     float:left;
     border-right: 1px solid black;
}
.Amount
{
    width:20%;
     float:left
}
.bets-items
{
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
   
}
.bets-header
{ float: left;
    width: 100%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
     background:  #243876;
    background: -moz-linear-gradient(top, #243876 0%,#122254 100%);
    background: -webkit-linear-gradient(top, #243876 0%,#122254 100%);
    background: linear-gradient(to bottom, #243876 0%,#122254 100%);

     color:white;
}
.unmatched-bets,.matched-bets
{
    float:left;
    width:100%;
    max-height:150px;
overflow:hidden;
}
.matched-betsViewAll{
    border: 1px solid;
    float: left;
    width:100%;
}
#myModalCompletedMatchedBets .modal-footer{
    padding: 16px 19px 7px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color: white;
}
#myModalCompletedMatchedBets .btn{
   
    background: #243876 !important;
    background: -moz-linear-gradient(top, #243876 0%,#122254 100%) !important;
    background: -webkit-linear-gradient(top, #243876 0%,#122254 100%) !important;
    background: linear-gradient(to bottom, #243876 0%,#122254 100%) !important;
}
#completedmatcedbetscontent{
    float:left;
    width:100%;
    background-color: white;
    border-radius: 0;
    padding: 0px;
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    outline: none;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}
#completedmatcedbetscontent .matched-bets{
    max-height:100% !important;
}
#completedmatcedbetscontent .selection{
	width:31% !important;
}
#completedmatcedbetscontent .Odd{
		width:11% !important;
		text-align:center;
}
#completedmatcedbetscontent .Amount{
		width:15% !important;
		border-right:1px solid;
		text-align:center;
}
#completedmatcedbetscontent .customername{
		width:16% !important;
			border-right:1px solid;
}
#completedmatcedbetscontent ..dealername{
		width:16% !important;
}

.bets-items label{
    font-weight:bold;
	overflow:hidden;
	height:20px;
}
#userbets h4
{
   padding: 8px 0;
    border-bottom: 0px solid #ccc;
     background:linear-gradient(to bottom, #0e0e39 56%,#02020e 85%);
   /*background: linear-gradient(to bottom, #243876 0%,#122254 100%);*/   
    color:white;
    margin: 0;
}
 .unmatched-bets .back,.matched-bets .back,.matched-betsViewAll .back
{
      background-color:#76b5d2 !important;
}
.unmatched-bets .lay,.matched-bets .lay,.matched-betsViewAll .lay
{
      background-color: #DF98AA !important;
}
.Editcancel
{
    float:left;
    width:8%;
}
.unmatched-bets .Amount
{
    width:32%;
    border-right:1px solid #ccc;
}
.unmatched-bets span
{
    padding:5px 0px;
}
.runnersprofitlossgreen
{
    color:darkgreen !important;
    width: 50% !important;
    float: left;
}
.runnersprofitlossred
{
    color:red !important;
    width: 50% !important;
    float: left;
}
.marketstatus
{
	padding-left:0px !important;


text-align:center;
font-size:14px;
width: auto !important;
    float: none;

}
.marketinfo
{
   float:left;
   width:100%;
   margin-bottom:5px;
   /*background:#243876;*/
    background:linear-gradient(to bottom, #0e0e39 56%,#02020e 85%);
}
 .suspended{
     color:red !important;
 }
 .inplay
 {
color:#17e617 !important;
background-color:#243876 !important;
    text-align: center;
	 animation: blinker 2s linear infinite;
 }
 @keyframes blinker {  
  50% { opacity: 0; }
}
 .completed
 {
color:#17e617 !important
 }
 .active1 {
   color:white !important 
 }
 .timerimg{
     margin-top:-5px;
 }
 .marketname
 {
     float:none;
     width:auto !important;
     text-align:center;
     font-size:15px;
        color:white !important;
        MAX-WIDTH: 90%;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    height: 20px;
 }
 .marketbooksul
 {
padding: 0;
  width: 100%;
  display: none;
 
 }
 .marketbooksul li{
      display: table-cell;
  width: auto;
  text-align:left;
  float:none !important;
  vertical-align: top;
  padding:0px;
 }
    .marketbooksul li:hover {
        background-color: #eeeeee;
    }
    .marketbooksul li a {
    float:left;
    max-width:73%;
   height: 27px;
    padding: 3px !important;
    margin-right: 0px !important;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    }
    .marketbooksul li.active {

  background: #243876;
    background: -moz-linear-gradient(top, #243876 0%,#122254 100%);
    background: -webkit-linear-gradient(top, #243876 0%,#122254 100%);
    background: linear-gradient(to bottom, #243876 0%,#122254 100%);
    color: white;


    }
    .marketbooksul li a:hover {
    

    }
     .marketbooksul li.active a {
         background-color: rgba(0, 0, 0, 0) !important;
          color:white !important;
    border: none !important; 
    font-weight: bold;
    font-size: 18px;
    }
     .marketbooksul .close{
         padding:3px;
         max-width:26%;
         text-align:right;
         color:white !important;
     }
     .ledgerwraper
     {
float: left;
    width: 100%;
     }
     #ledgerdetails{

     }
     .favoriteselection
     {
    
   width:100%;
    padding: 0px !important;
    border: 0px solid;
   
    display: table;
    margin: 0px auto;
    float:none;
     }
     .favoriteselectionname
     {
          font-size: 18px;
  
    
    border: 0px solid;
   float:left;
    width:50%;
     }
     .favoriteselectionname label
     {
          /*background: #243876;*/
           background:linear-gradient(to bottom, #0e0e39 56%,#02020e 85%);
    color: white !important;
    padding: 3px !important; 
	text-overflow: ellipsis;
    height:34px;
    overflow: hidden;
    white-space: nowrap;
    text-align:left;
     }
     .favoritepricebackandlay
     {
         float: left;
    width: 50%;
     }
      .favoritepricebackandlay label
     {
font-weight:normal;
     }
     .favoritebackprice
     {
width: 50%;
    float: left;
    margin: 0px 0 0 0;
    font-size: 24px;
    border:0px solid;
    background-color: #76b5d2;
     }
     .favoritebackprice label
     {

     }
     .favoritelayprice
      {
        width: 49%;
    float: right;
    margin: 0px 0 0 0;
    font-size: 24px;
    border: 0px solid;
    background: #DF98AA;
      }
      .favoritelayprice label
      {

      }
     .favoritesizebackandlay
     {
           float: left;
    width: 100%;
	display:none;
     }
    
     .favoritebacksize{
  width: 50%;
    float: left;
    border: 0px solid;
    margin: 1px 0px 0 0 ;
    font-size: 12px;
  
   
     }
     .favoritebacksize label{
         font-size: 12px;
     }

     .favoritelaysize
     {
      width: 49%;
    float: right;
    margin: 1px 0px 0 0 ;
    font-size:12px;
  
    border: 0px solid;

   
     }
     .favoritelaysize label
     {
font-size: 12px;
     }
     .markettime
     {
        font-size:14px;
         text-align:center;
         width:auto !important; 
         float:none;
         color:white !important;
     }
     .userproile li
     {
         display:block !important;
     }
     .userproile
     {
         width:100%;
     }

     .mainheaderdiv
     {
         margin-bottom: 0px;
    border-bottom: 1px solid;
    width: 100%;
   
     }
     .navbar-header li
     {
      
   
    padding: 0px 0px;
     }
      .navbar-header li label{
         
      }
       .navbar-header li a
       {
         
       }

       #inplayul li:hover > ul { display:block;   /*visibility: visible;*/}
       #allsportsul li:hover > ul { display:block;   /*visibility: visible;*/}
       .ledgerdebit
       {
           color: #069b06 !important;
    
       }
       .ledgercredit
       {
color: red !important; 
       }
       .ledgerbalance
       {

       }
       #ledgerdetails
       {
           font-weight:bold;
		   overflow-x: auto;
    margin-bottom: 50px;
       }
       .user-betsagents-wrapper .Amount
       {
           width:27% !important;
           border-right: 1px solid;
       }
       .user-betsadmin-wrapper .Amount
       {
           width:16% !important;
           border-right: 1px solid;
       }
   /*.user-betsagents-wrapper .unmatched-bets .back,.matched-bets .back
{
      background-color: #DF98AA !important;
}
.user-betsagents-wrapper .unmatched-bets .lay,.matched-bets .lay
{
     background-color:#76b5d2 !important;
     
}*/
   
.user-betsagents-wrapper .selection
{
    width:30% !important;
}
.user-betsagents-wrapper .Odd
{
     width:15% !important;
}
.user-betsadmin-wrapper .selection
{
    width:30% !important;
}
.user-betsadmin-wrapper .Odd
{
     width:11% !important;
}
.customername
{
    float:left;
    width:28%;
	overflow:hidden;
}
.user-betsadmin-wrapper .customername
{
  float: left;
    width: 16%;
    border-right: 1px solid;
	overflow:hidden;
}
.dealername{
    width: 16%;
    float: left;
    border-right: 1px solid;
	overflow:hidden;
}
.user-betsagents-wrapper .bets-items label
{
    font-weight:normal !important;
}
.matchedbetsheading
{
   color: black;
    font-size: 14px;
    width: 100%;
    text-align: center;

}
.user-betsadmin-wrapper{
    font-size: 11px;
}
.footer-bfimg
{
        float: right;
    width: 60px;
    margin-bottom: 10px;
}
#mainuserbetdivAdmin
{
    float:left;
    width:100%;
} 
.checkboxrunnername
{
    float: left;
    margin-left: 4px !important;
    display:none;
}
.runnerbackandlaydiv
{
     width:50%;
      float:left;
}
.runnerprofitandlossdiv
{
      width:12%;
       float:left;
          display:none;
}
.runnerlastpricediv
{
      width:5%;
       float:left;
       display:none;
}
     
.runnernamediv{
    width:50%;
    float:left;
}
.backgroundimageforSuspended{
  float: right;
    width: 50%;
    position: absolute;
    z-index: 530!important;
    right: 0;
    margin-top: 26px;
    text-align: right;
    display:none;
}
.backgroundsuspended{
  
    background-position-x:33px;
     background-size: 60% 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.85);
    border:2px dotted red;
}
.backgroundclosed{
    
    background-position-x:33px;
     background-size: 60% 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.85);
      border:2px dotted red;
}
.averagerates
{
text-align: center;
    font-size: 20px;
    width: 80px;
    font-weight: bold;
    border: 1px solid;
}
.averagecalculations
{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.ddlaveragerunners
{
    font-size: 15px;
    margin-bottom: 6px;
   padding:6px 0px;
   width:90%;
}
.averageLateover1
{
   
}
.averageLateover2{
  
}
.greenclass{
color: #05bb05 !important;
    font-size: 23px;
}
.redclass{
    color: red !important;
    font-size: 23px;
}
#todayhorseraceui,#todaygrayhoundraceui
{
    max-height: 350px;
    overflow: auto;
}
.runnerwinner
{
   background: linear-gradient(to bottom, #039221 0%,#22cd5c 100%);
    background-size: cover;
    min-height: 45px;
    color: white !important;
}
.runnersclothnumber
{
    width:17px !important;
    float:left;
    margin-top:2px;
}
.tobeplacedcount{
        float: left;
    width: 85%;
    margin-top:0px;
    font-size: 15px;
    text-align:left;
}
.runnersStallDraw
{
    width: 20px !important;
    float: left;
      margin-top:2px;
}
.refreshbutton{
  
    margin-left: 25px;
    padding: 1px 12px !important;
    margin-top:4px;
}
.adminrunners
{
    float:left;
width:26%;
}
.adminodds
{
  float:left;
width:10%;
}
.adminamount
{
      float:left;
width:20%;
}
.adminbettype
{
  float:left;
width:11%;
}
.admincuttingusers{
  float:left;
width:12%;
}
.adminamount input[type="text"], .adminodds input[type="text"]
{
    width:90% !important;
}
.adminaddbutton
{
    float:left;
    width:10%;
}
.runnerfavorite
{
     background-color:transparent;

  
}
.runnerfavorite .runnersname,.runnerfavorite .runnersnameHorse,.runnerfavorite .runnersnamenotrace
{
	 color:crimson !important;
 font-weight:bold;
 text-decoration:none;
 font-size:14px;
 text-transform:uppercase;
	
}
.usernameandliablity{
    width: 100%;
    float: right;
    margin: 2px 0px;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0px;
    text-align: left;
    background-color:white;
    z-index: 2500;
}
.headerdiv
{
    float:left;
}
  .firstlevellink{

  }
  .secondlevellink{
padding-left: 20px !important;
overflow:hidden;
  }
  .thirdlevellink{
padding-left: 30px !important;
  }
   .fourthlevellink{
padding-left: 40px !important;
   }
    .fifthlevellink {
        padding-left: 50px !important;
    }
    #partialviews{
        float:left;
        width:100%;
    }
    .modal-header{
padding:0px;
    }
    .betslipselections{
        float:left;
        width:100%;
    }
    .betslipselectionname{
         float:left;
        width:50%;
    }
    .betslipodd{
         float:left;
        width:25%;
    }
    #betslipcontentmultiple
    {
        float:left;
    }
    .cancelbetbutton{
            background-color: red;
    color: white;
    width: 100%;
}
    .innerdivbackground label{
        text-transform: uppercase;
    text-align: center;
    /* transform: rotate(90deg); */
    transform-origin: left top 2;
    font-size: 26px;
    margin-top: 41px;
    width: 20px;
    word-wrap: break-word;
    font-family: monospace;
    float: left;
    }
    .modal-title{
        font-weight:normal !important;
    }
    .usernameandliablity label
    {
        font-weight:normal;
        background: -moz-linear-gradient(top, #243876 0%,#122254 100%);
    background: -webkit-linear-gradient(top, #243876 0%,#122254 100%);
    /*background: linear-gradient(to bottom, #243876 0%,#122254 100%);*/
      background:linear-gradient(to bottom, #0e0e39 56%,#02020e 85%);
    color: white;
    border: 1px solid white;
    padding: 10px !important;
    width:100%;
    float:left;
    text-align:left;
    }
    .loadingimg{
    display:none;
	text-align:center;
	float: left;
    width: 100%;
	margin-top:5px;
}
.modal-dialog{
	width:100% !important;
margin-top:10px;	
}
#btncancelUnmatchedBets
{
	background: #cf0505 !important;
    background: -moz-linear-gradient(top,#cf0505 0%,#a40c0c 100%) !important;
    background: -webkit-linear-gradient(top,#cf0505 0%,#a40c0c 100%) !important;
    background: linear-gradient(to bottom,#cf0505 0%,#a40c0c 100%) !important;
	padding:5px 5px !important;
    float:right;
    width:100px;
    margin:2px;
    color:white;
}
#btnShowAllmatchedBets{
	background: #e3d7d7 !important;
    background: -moz-linear-gradient(top,#e3d7d7 0%,#c8c6c6 100%) !important;
    background: -webkit-linear-gradient(top,#e3d7d7 0%,#c8c6c6 100%) !important;
    background: linear-gradient(to bottom, #e3d7d7 0%,#c8c6c6 100%) !important;
	padding:5px 5px !important;
    float:right;
    width:100px;
    margin:2px;
    color:black;
}

#btnBetslipClose,#btnBetslipClosemultiple{
    background: #cf0505 !important;
    background: -moz-linear-gradient(top,#cf0505 0%,#a40c0c 100%) !important;
    background: -webkit-linear-gradient(top,#cf0505 0%,#a40c0c 100%) !important;
    background: linear-gradient(to bottom,#cf0505 0%,#a40c0c 100%) !important;
	
  
  
    color:white;
}
.refreshbutton{
	
	background:linear-gradient(to bottom, #e3d7d7 0%,#c8c6c6 100%) !important;
    float:right;
    color:black;
}
.marketbettingallowed
    {
        color: red !important;
    }
.matched-unmatched-heading label{
    text-align:left !important;
    float:left;
	font-size:16px;
}
.betslipbuttonssubmit{
    width:100%;
    float:left;
}
.clothnumstalldrawimg{
    border: 0px solid;
    float: left;
    width: 38%;
    padding: 4px 0;
}
.clothnumstalldrawimgempty{
   border: 0px solid;
    float: left;
    width: 12%;
    padding: 7px 0;
}
.showtvlink{
    float:left;
    width:100%;
    padding:5px;
    text-decoration:underline !important;
}
.favdiv{
    float:left;
    width:100%;
}
#video1{
    width:100%;
    height:200px;

}
object{
    width:100% !important;
}
.mainmenutoggle
{
  
    float: left;

    padding: 12px;
    margin-top:0px;
    margin-right: 15px;
    margin-bottom: 0px;
   background: #23EEFF;
    background: -moz-linear-gradient(top, #23EEFF 0%, #08c2d2 100%);
    background: -webkit-linear-gradient(top, #23EEFF 0%,#08c2d2 100%);
    background: linear-gradient(to bottom, #23EEFF 0%,#08c2d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23EEFF', endColorstr='#08c2d2',GradientType=0 );
    border: 1px solid transparent;
    border-radius: 0px;
}
.mainmenutogglediv
{
    float:left;
    width:100%;
}
#mainuserbetdiv{
    float:left;
    width:100%;
}
#fancymarketbook{
    margin-top: 0px;
    float: left;
    width: 100%;
}
#fancymarketbook h3{
   text-align: left;
    font-weight: bold;
   
	font-size: 18px;
    color: black;
	width: 83%;
    float: left;
    margin: 10px 0;
}
.bookbutton{
    float:left;
    width:20%;
    background-color: red;
    color: white;
    padding: 4px 2px;

}
#fancymarketbook .runnersname{
    width: 80% !important;
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
    text-decoration:underline;
	white-space:nowrap;
	color: #243876 !important;
	
}
#fancymarketbook .runnerprofitandlossdivMobile{
    width:100% !important;
        margin-top: 0px;
}
.bookscoreandamount{
float:left;
width:100%
}
.bookscore{
float:left;
width:50%
}
.bookamountred{
    float:left;
width:50%;
color:red;
}
.bookamountgreen{
    float:left;
width:50%;
color:darkgreen;
}

#completedmatcedbetscontentFancy{
    float: left;
    width: 100%;
    text-align: center;
    border: 1px solid;
        margin: 0px 0 10px 0;
}
#completedmatcedbetscontentFancy .matched-unmatched-heading label{
    text-align:center !important;
}
  #completedmatcedbetscontentFancy .matched-bets {
        max-height:100% !important;
        overflow:auto !important;
    }
#fancymarketbook .backitem:nth-child(3),#fancymarketbook .layitem:nth-child(1){
   
}
.runnerselectedhorse{

background: -moz-linear-gradient(top, #fbd150 0%, #faff8e 63%, #faff8e 42%);
    background: -webkit-linear-gradient(top, #fbd150 0%,#faff8e 63%,#faff8e 42%);
    background: linear-gradient(to bottom, #fbd150 0%,#faff8e 63%,#faff8e 42%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC000', endColorstr='#feffe8',GradientType=0 );
}
.clothnumstalldrawimgemptynotshow
{
    display:none;
}
.runnersnamenotrace
{
     width:87% !important;
  text-align:left;
   text-decoration:underline;
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    float:left;
	margin-left:5px;
	color:#243876 !important;
    text-transform:uppercase;
}
.closefancypanel{
	margin: 6px 0px;
    font-size: 18px;
}
.marketrules{
float: right;
    width: 15% !important;
    padding: 3px !important;
    color: #243876 !important;
    text-decoration: underline;
}
.marketrulesfancy  {
float: left;
    width: 11% !important;
    padding: 3px !important;
	margin:8px 0px;
    color: #243876 !important;
    text-decoration: underline;
}
.fancybackandlaydiv{
	float: left;
    width: 100%;
}
.fancyhead{
	float: left;
    width: 100%;
    text-align: center;
    font-size: 17px;
    color: black;
}
.fancybackhead{
	float: left;
    width: 50%;
}
.fancybackhead label{
	color:white !important;
	
}
.fancybackandlaydiv .runnerbackandlaydiv{
	float:right;
}
.footer{
position: fixed;
    bottom: 0;
    width: 100%;
        z-index: 32564 !important;
		padding-left:0px !important;
		padding-right:0px !important;
}
.footer ul{
      list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  background: #243876;
    background: -moz-linear-gradient(top, #243876 0%,#122254 100%);
    background: -webkit-linear-gradient(top, #243876 0%,#122254 100%);
    /*background: linear-gradient(to bottom, #243876 0%,#122254 100%);*/
     background:linear-gradient(to bottom, #0e0e39 56%,#02020e 85%);
    color:white;
    width:100%;
    display:table
}
.footer li{
display:table-cell;
 padding: 10px 3px;
    font-weight: bold;
    font-size: 12px;
    border-right: 2px solid #ccc;
	text-align: center;

}
.marketstatustimerrules{
    float: left;
    width: 100%;
    text-align: center;

}
.runnersaveragegreen{
float: right;
    width: 30% !important;
    color: #078f07 !important;
    font-weight:bold;
}
.runnersaveragered{
float: right;
    width: 30% !important;
    color: red !important;
      font-weight:bold;
}
.firstportion{
    float:left;
    width:50%;
}
.matchstatusscore{
 float:left;
    width:100%;
}

#matchscores {
    float:left;
    width:100%;
}
    .mainscorediv label {
        width: auto !important;
        color:#283476 !important;
    }
    .fullscorecard{
        float:left;
        width:100%;
    }
    .teamnamesbtn{
 padding: 5px 10px !important;
    font-weight: bold;
    font-size: 14px;
    width:auto !important;
    }
    #teamaname{

    }
    .teamnamebtnactive{
        background:#243876 !important;
        color:white !important;
    }
    .teamnamebtnsimple{
        background:white !important;
        color:#243876 !important;
        border:1px solid #243876;
    }
    #teambname{

    }
    #teamASquadbtn{
      
    padding: 5px 10px !important;
    font-weight: bold;
    font-size: 14px;
     width:auto !important;
    }
    #teamAScoreCardbtn{

    padding: 5px 10px !important;
    font-weight: bold;
    font-size: 14px;
     width:auto !important;
    }
    #fullscorecarddetails{

    }
    .teamAWrapper{

    }
    .squadA{

    }
    .playernameandsquad{
border: 1px solid #ccc;
    float: left;
    width: 100%;
    }
    .playernameandsquadfirst{
font-weight:bold;
font-size:15px;
    }
    .squadplayername{
        float: left;
    width: 65% !important;
    text-align: left;
    padding: 5px !important;
    color: #243876 !important;
    }
    .squadplayerrole{
    float: left;
    width: 35% !important;
    text-align: left;
    padding: 5px !important;
    color: #243876 !important;
    }

    .scorecardA label{
  color: #243876 !important;
    }
    .battingwrapper{

    }
    .teamscorebatting{

    }
    .battingname{
float: left;
    width: 40%;
    text-align: left;
    padding: 2px !important;
    }
    .battingdesc{
float: left;
    width: 60%;
    text-align:center;
    }
    .battingdesc .runs{
        width:30% !important;
        padding:2px !important;
    }
    .battingdesc .fours{
        width:20% !important;
        padding:2px !important;
    }
    .battingdesc .sixes{
        width:18% !important;
        padding:2px !important;
    }
    .battingdesc .sr{
        width:26% !important;
        padding:2px !important;
    }
   
    .bowlingname{
float: left;
    width: 43%;
     text-align: left;
    padding: 2px !important;
    }
    .bowlingdesc{
float: left;
    width: 57%;
     text-align: center;
    }
    .bowlingdesc .overs{
        width:15% !important;
        padding:2px !important;
    }
    .bowlingdesc .madians{
        width:15% !important;
        padding:2px !important;
    }
    .bowlingdesc .runs{
        width:16% !important;
        padding:2px !important;
    }
    .bowlingdesc .wickets{
        width:15% !important;
        padding:2px !important;
    }
     .bowlingdesc .econ{
        width:26% !important;
        padding:2px !important;
    }
    .bowlingwrapper{

    }
    .teamscorebatting{
        border: 1px solid #ccc;
    float: left;
    width: 100%;
    }
    .teamnames{
        margin-bottom: 5px;
    text-align: left;
    }
    .scoreacardandsquadbuttonsA{
        text-align: left;
            margin-bottom: 5px;
    }
    #lblStricker{
float:none !important;
max-width:85% !important;

    }
    #lblBowler{
float:none !important;
max-width:85% !important
    }
    #imgbowler{
        vertical-align:top;
    }
    #imgstricker{
         vertical-align:top;
    }
    .mainscorediv{
float:left;
    width:100%;
    font-size:14px
}.markettype{
	 font-size: 12px;
    text-align: left;
    width: 100% !important;
    float: left;
    margin-top: -18px;
	font-weight:normal;
    color: white !important;
}
.checkboxrunnernameavg,.checkboxrunnernameavgTWT{
    display:none;
    float:left;
}
.marketnameheadlabel{
    background-color: #243876;
    color: white !important;
    padding: 5px 10px !important;
    width:auto !important;

}
#marketbookTWT{
    float:left;
	width:100%;
    margin-top:10px;
}
.marketnamehead{
    text-align:left !important;
}
 } 
