<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="globaltraders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    
    <add key="Encryptionkey" value="NE14112016-000000000000000000000012345600000000000000000000007890000000000000000000000000123456000000000000000000000078900" />
    <add key="PasswordForValidate" value="">
    </add>
    <!--<add key="RestAPIPath" value="http://localhost:54524/"></add>-->
  <add key="RestAPIPath" value="http://78.110.160.52:8960/bfnexchangeServices/"></add>
    
    <add key="WidgetURL" value="http://78.110.160.52:8960/widget.html" />
   
   <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
 <system.net>
   
		<connectionManagement>
     
		<add address="*" maxconnection="10" />
     
		</connectionManagement>

     <settings><servicePointManager expect100Continue="false" /></settings>
  
	</system.net>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceThrottling />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserServices" closeTimeout="00:00:05"
          openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IUserServices1" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IUserServices2" />
        <binding name="BasicHttpBinding_IUserServices3" />
        <binding name="BasicHttpBinding_IService123" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/AccountsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="AccountsServiceReference.IAccountsService" name="BasicHttpBinding_IUserServices3" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/APIConfigService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="APIConfigServiceReference.IAPIConfigService" name="BasicHttpBinding_IUserServices2" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/Service123.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="Service123Reference.IService123" name="BasicHttpBinding_IUserServices1" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/BettingServiceRest.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceRestReference.IBettingServiceRest" name="BasicHttpBinding_IUserServices4" />
      <endpoint address="http://78.110.160.52:8960/bfnexchangeServices/Services/UserServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="UserServiceReference.IUserServices" name="BasicHttpBinding_IUserServices" />
      <endpoint address="http://78.110.160.52:6009/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="CricketScoreServiceReference.IService1" name="BasicHttpBinding_IService1" />
      
    </client>

    <!--<client>
      <endpoint address="http://localhost:54524/Services/AccountsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="AccountsServiceReference.IAccountsService" name="BasicHttpBinding_IUserServices3" />
      <endpoint address="http://localhost:54524/Services/APIConfigService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="APIConfigServiceReference.IAPIConfigService" name="BasicHttpBinding_IUserServices2" />
      <endpoint address="http://localhost:54524/Services/Service123.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="Service123Reference.IService123" name="BasicHttpBinding_IUserServices1" />
      <endpoint address="http://localhost:54524/Services/BettingServiceRest.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="BettingServiceRestReference.IBettingServiceRest" name="BasicHttpBinding_IUserServices4" />
      <endpoint address="http://localhost:54524/Services/UserServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="UserServiceReference.IUserServices" name="BasicHttpBinding_IUserServices" />
      <endpoint address="http://78.110.160.52:6009/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="CricketScoreServiceReference.IService1" name="BasicHttpBinding_IService1" />
    </client>-->
    
    
  </system.serviceModel>
  <system.web>
    <!--<processModel
   autoConfig="false"
   minIoThreads="101"
   minWorkerThreads="2"
   maxIoThreads="200"
   maxWorkerThreads="40"
    />-->
    <httpRuntime maxRequestLength="2000000" executionTimeout="360000" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <globaltraders.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultStakeBack" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="DefaultStakeLay" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="DefaultStakeBackMultiple" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="DefaultStakeLayMultiple" serializeAs="String">
        <value>4000</value>
      </setting>
    </globaltraders.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>