<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000"/>
    </connectionManagement>
  </system.net>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Error">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Error">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\Projects\bfnexchange\bfnexchange.Services\Web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="D:\Projects\bfnexchange\bfnexchange.Services\Web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="Encryptionkey" value="NE14112016-000000000000000000000012345600000000000000000000007890000000000000000000000000123456000000000000000000000078900"/>
    <add key="PasswordForValidate" value="34RxqHH9EqoJn4ZHLTwN5ag3UfZuKcvFfSE7U5FNg0STZ/6yEjxEDfhuJ3wOcr0m"/>
    <add key="PasswordForValidateS" value="qChZf3jCnX9S3AGkeMhiiz7BycDuFjZjYBUp/yYfBV8="/>
    <add key="BefatirCert" value="C:\bfnexclient-2048.p12"/>
    <add key="ExcelFilePath" value="C:\inetpub\wwwroot\ExcelFiles\Cricket2.xlsx"/>
    <add key="ExcelFilePathOld" value="C:\inetpub\wwwroot\ExcelFiles\Cricket1.xlsm"/>
    <add key="ExcelFileDir" value="C:\inetpub\wwwroot\ExcelFiles"/>
    <add key="UserNameforData" value="faisalw"/>
    <add key="UserPasswordforData" value="as1234"/>
    <add key="PoundRateForUS" value="10"/>
    <add key="PoundRateForOThers" value="200"/>
    <add key="URLForData" value="http://betproexch.com/api"/>
    <add key="NotAllowedRaces" value="(FRA),(CHL),(IND),(AUS),(US),(Harness),(SIN),(NZL)"/>
    <!--Dont leave it empty-->
    <!--<add key="AllowedUsers" value="184,223,195,287"/>-->
    <add key="AllowedUsers" value="160"/>
    <!--Dont leave it empty-->
    <add key="GetDataFromLiveOtherEventTypes" value="1"/>
    <add key="URLForDataother" value="http://88.150.180.131/LuckyBetWS/beteasynewng.asmx"/>
    <add key="UserNameforDataOther" value="faisalshah"/>
    <add key="UserPasswordforDataOther" value="666777"/>
    <add key="IDforDataOther" value="7FAISALSHAH2"/>
    <add key="VendorforDataOther" value="UnitedBet"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <sessionState mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserServices" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="bfnexchange.Services.Services.UserServices" behaviorConfiguration="DefaultThrotling12">
        <endpoint address="http://localhost:54524/Services/UserServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" name="BasicHttpBinding_IUserServices" contract="bfnexchange.Services.Services.IUserServices"/>
      </service>
      <service name="bfnexchange.Services.BettingService" behaviorConfiguration="DefaultThrotling12">
        <endpoint address="http://localhost:54524/Services/BettingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" name="BasicHttpBinding_IUserServices" contract="bfnexchange.Services.IBettingService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="bfnexchange.Services.Service123" behaviorConfiguration="DefaultThrotling12">
        <endpoint address="http://localhost:54524/Services/Service123.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" name="BasicHttpBinding_IUserServices" contract="bfnexchange.Services.IService123"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="bfnexchange.Services.Services.BettingServiceRest" behaviorConfiguration="DefaultThrotling12">
        <endpoint name="RestEndPoint" behaviorConfiguration="restapi" contract="bfnexchange.Services.Services.IBettingServiceRest" address="http://localhost:54524/Services/BettingServiceRest.svc" binding="webHttpBinding"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
      <service name="bfnexchange.Services.Services.APIConfigService" behaviorConfiguration="DefaultThrotling12">
        <endpoint address="http://localhost:54524/Services/APIConfigService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" name="BasicHttpBinding_IUserServices" contract="bfnexchange.Services.Services.IAPIConfigService"/>
      </service>
      <service name="bfnexchange.Services.Services.AccountsService" behaviorConfiguration="DefaultThrotling12">
        <endpoint address="http://localhost:54524/Services/AccountsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" name="BasicHttpBinding_IUserServices" contract="bfnexchange.Services.Services.IAccountsService"/>
      </service>
    </services>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultThrotling12">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restapi">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="NExchangeEntities" connectionString="metadata=res://*/DBModel.NEDBModel.csdl|res://*/DBModel.NEDBModel.ssdl|res://*/DBModel.NEDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NII0R73\B1;initial catalog=tradeline;user id=sa;password=bfnexchange;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>