@model  bfnexchange.HelperClasses.MarketsForResultPost
    <style type="text/css">
        .postresultsfancy select{
            width:100% !important;
            max-width:100% !important;
        }
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}
    </style>
<div class="form-group postresultsfancy">
    <label class="control-label col-md-2">Markets</label>

    <div class="col-md-10">


        @Html.DropDownList("ddlMarkets", Model.lstEvents.Select(item => new SelectListItem
   {
       Value = item.EventID.ToString(),
       Text = item.EventName.ToString()

   }), new { @class = "selectpicker", data_live_search = "true" })
    </div>
</div>

<div id="linevmarkets">

</div>
<div class="col-md-12">
    <input type="button" value="Load Scores" class="btn-default btn" id="btnLoadScores" />
</div>
<div id="scoresdiv">
    <div class="col-md-12">
        <label>Innings</label>
        <label id="currinnings">Innings</label>
    </div>
    <div class="col-md-12">
        <label>Overs</label>
        <label id="currovers">Overs</label>
    </div>
    <div class="col-md-12">
        <label>Score</label>
        <input type="text" id="currscores" value="0" />
    </div>
    <div class="col-md-12">
        <label>Teamname</label>
        <label id="currteam">Teamname</label>
    </div>
</div>
<div class="col-md-12">
    <input type="button" value="Post Results" class="btn-default btn" id="btnPostResults" /> 
</div>
<div class="col-md-12">
    <input id="automaticresultpost" type="checkbox" value="" checked="@Model.FancyResultsAutomaticPost"  />
    <label for="automaticresultpost">Automatic Result Post Fancy</label>
    <input type="button" class="btn btn-default" value="Update" id="btnUpdateAutomaticSettings" />
</div>
<div id="cdialog" title="Confirmation Required">
    Are you sure about this?
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cdialog").dialog({
            modal: true,
            bgiframe: true,
            width: $(window).width() - 25,
            height: 200,
            autoOpen: false
        });
        $(".selectpicker").selectpicker();
        $("#ddlMarkets").change(function () {
            $.ajax({
                type: "GET",
                url: "/DashBoard/GetLinevMarketsbyMarketBookID",
                data:{"MarketBookId":$("#ddlMarkets").val()},
               
                success: function (result) {

                    $("#linevmarkets").html(result);
                  

                }

            });
        });
        $("#btnLoadScores").click(function () {
            $.ajax({
                type: "GET",
                url: "/DashBoard/GetScorebyEventID",
                data: { "MarketBookID": $("#ddlLineMarkets").val() },

                success: function (result) {
                    var inningscoreandover = result.split("|");
                    $("#currinnings").html(inningscoreandover[0]);
                    $("#currovers").html(inningscoreandover[1]);
                    $("#currscores").val(inningscoreandover[2]);
                    $("#currteam").html(inningscoreandover[3]);



                }

            });
        });
    
        $("#btnPostResults").click(function () {
            $("#cdialog").dialog('option', 'buttons', {
                "Confirm": function () {
                    $(this).dialog("close");
                    $.ajax({
                        type: "GET",
                        url: "/DashBoard/PostResultsForMarket",
                        data: { "MarketCatalogueId": $("#ddlLineMarkets").val(), 'Scores': $("#currscores").val() },

                        success: function (result) {

                            $("#currinnings").html("");
                            $("#currovers").html("");
                            $("#currscores").val(0);
                            $("#currteam").html("");



                        }

                    });
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            });

            $("#cdialog").dialog("open");
       
        });
        $("#btnUpdateAutomaticSettings").click(function () {

            $.ajax({
                type: "GET",
                url: "/DashBoard/UpdateAutomaticResultPostSettings",
                data: { "automaticresultsetting": $("#automaticresultpost").prop("checked") },

                success: function (result) {

                   



                }

            });
        });

    });
</script>
