
@{
    ViewBag.Title = "PlusMinusSummery";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}


<div class="page-container">
    <div class="page-content">
        <div>
            <div class="page-body">
                <div class="col-xs-push-12">

                    <div class="row">
                        @if (LoggedinUserDetail.GetUserTypeID() == 1)
                        {
                            <div class="col-md-offset-1">
                                <div id="allusers">

                                </div>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $.ajax({
                                        url: '/DashBoard/AllUsers',
                                        async: true,
                                        type: 'POST',


                                        complete: function () {
                                            $('.selectpicker').selectpicker();
                                            $("#ddlUsers").change(function () {
                                                if ($("#ddlUsers").val() > 0) {

                                                }
                                            });
                                            HideLoader();
                                        },
                                        success: function (data) {
                                            $("#allusers").html(data);

                                            //// $form.html(data);
                                            // $form.removeData('validator');
                                            // $form.removeData('unobtrusiveValidation');
                                            // $.validator.unobtrusive.parse($form);
                                        }
                                    });




                                });
                            </script>
                        }
                    </div>
                        <div class="row">

                            <div class="col-lg-2 col-sm-2">
                                <label>Start Date:</label>

                                <div class="input-group">
                                    <input type="text" id="txtDateFrom" class="form-control datepicker" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-2">
                                <label>End Date:</label>

                                <div class="input-group">
                                    <input type="text" id="txtDateTo" class="form-control datepicker" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>

                           

                            @if (LoggedinUserDetail.GetUserTypeID() == 1 || LoggedinUserDetail.GetUserTypeID() == 2)
                            {
                                <div class="col-lg-3 col-sm-3">
                                    <select id="ddleventtype" class="selectpicker">
                                        <option value="0">Please Select</option>
                                        <option value="Cricket">Cricket</option>
                                        <option value="Horse Racing">HORSE RACE</option>
                                        <option value="Soccer">FOOTBAAL</option>
                                        <option value="3">TENNIS</option>
                                        <option value="Greyhound Racing">Greyhound Racing</option>

                                    </select>
                                </div>

                            }





                            <div class="col-lg-2 col-sm-2">
                                <label>&nbsp;</label>
                                <br />
                                <div>
                                    <input type="button" value="Load Report" id="btnLoad" class="btn btn-default" />
                                </div>
                            </div>


                        </div>



                    </div>



            </div>
        </div>

        <div class="col-md-12 no-padding">
            <div id="ProfitandLoss">

            </div>
        </div>

        <hr>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var dateNow = new Date();
        var newdate = new Date(dateNow).setDate(dateNow.getDate() - 5);
       
         //$('.selectpicker').selectpicker();
       
        $('#txtDateFrom').datetimepicker({
            //format: 'YYYY-MM-DD hh:mm',
            format: 'YYYY-MM-DD',
            defaultDate: newdate

        });
        $('#txtDateTo').datetimepicker({
            format: 'YYYY-MM-DD',
            defaultDate: dateNow

        });

        $("#btnLoad").click(function () {
            debugger;
            var datefrom = $("#txtDateFrom").val();
            var dateTo = $("#txtDateTo").val();
            ShowLoader();

            var userID = 0;
            
            if ($("#ddlUsers").val() != undefined) {
                userID = $("#ddlUsers").val();
            }
            alert(userID);

            if ($("#ddleventtype").val() != undefined) {
                ddleventtype = $("#ddleventtype").val();
            }

            $.ajax({
                url: '/DashBoard/showcompletedevent',

                type: 'POST',

                data: { 'DateFrom': datefrom, 'DateTo': dateTo, 'UserID': userID, 'eventtype': ddleventtype },

                complete: function () { },
                success: function (data) {

                    $("#ProfitandLoss").html(data);
                    HideLoader();


                },
                error: function (data) {
                    HideLoader();
                }
            });
        });

    });





</script>


