@model IEnumerable<bfnexchange.Models.CuttingUsers>


<div class="col-md-10">


    @Html.DropDownList("ddlUsersCutting", Model.Select(item => new SelectListItem
   {
       Value = item.ID.ToString(),
       Text = item.username.ToString()

   }), new { @class = "selectpicker"})
</div>


