<div class="scorecard" style="text-align:left">

	<div>





		<span class="soc1">
			<label id="lblteamnameAsoccer" style="width:auto"></label>:
			<label id="lblteamAsoccer" style="width:auto"></label><br />




			<label id="lblteamnameBsoccer" style="width:auto"></label>:
			<label id="lblteamBsoccer" style="width:auto"></label>

		</span>

		<span class="soc2">
			<label id="lblsoccerY" style="width:auto;">YC:</label>
			<label id="lblsoccerYC" style="width:auto"></label><br />

			<label id="lblsoccerR" style="width:auto;">RC:</label>
			<label id="lblsoccerYR" style="width:auto"></label>
		</span>

		<span class="soc3">
			<span class="" id="lbltime" style="width:auto">Time:</span>
			<span class="" id="lbltimes" style="width:auto"></span>
		</span>


	</div>
	</div>

