<div  class="scorecard" style="text-align:left">

	<span class="tennisser">
		<label id="lblteamnameAsoccer" style="width:auto">PlayerA</label>:
		<br />

		<label id="lblteamnameBsoccer" style="width:auto">PalyerB</label>:
		<br />
		<label id="lblteamnameBsoccer" style="width:auto; color: darkred">Set B </label>:
		<label id="lblteamnameBsoccer" style="width:auto; color: darkred"> | 0:0</label>

	</span>

	<span class="tennisScore" style="border-right: solid 1px black">
		<label id="lblteamnameAsoccer" style="width:auto">6</label>
		&nbsp; 
		<label id="lblteamnameBsoccer" style="width:auto">9</label>
		&nbsp; 
		<label id="lblteamnameBsoccer" style="width:auto">9</label>
		<br />
		<label id="lblteamnameBsoccer" style="width:auto">3 </label>
		&nbsp; 
		<label id="lblteamnameBsoccer" style="width:auto">5</label>
		&nbsp; 
		<label id="lblteamnameBsoccer" style="width:auto">9</label>
		<br />
		<label id="lblteamnameBsoccer" style="width:auto">3 </label>
		&nbsp; 
		<label id="lblteamnameBsoccer" style="width:auto">2</label>
		&nbsp; 
		<label id="lblteamnameBsoccer" style="width:auto">9</label>

	</span>
	
	<span class="tennisScore" style="float:right">
		<label id="lblteamnameAsoccer" style="width:auto">6</label>

		<br />
		<label id="lblteamnameBsoccer" style="width:auto">3 </label>

		<br />
		<label id="lblteamnameBsoccer" style="width:auto">Points </label>

	</span>
	

	<span class="tennisScore" style="border-right: solid 1px black">
		<label id="lblteamnameAsoccer" style="width:auto">6</label>

		<br />
		<label id="lblteamnameBsoccer" style="width:auto">3 </label>

		<br />
		<label id="lblteamnameBsoccer" style="width:auto">ServBrk </label>

	</span>


</div>

