
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <span class="abouthead">
        <strong>About us</strong>
    </span>
    <div class="aboutcontent">
        GT Exchange is an online betting website.

        The eye catching user interface and sleek design are compatible with all common browsers, providing users a new level of betting experience. The sophisticated technology and ultra-fast processing enables users to handle their bets rapidly and precisely. GT Exchange is developed to make your betting life easy and successful on betfair.

        GT Exchange provides Betfair’s odds and volumes with highly efficient bet placing mechanism to facilitate customers who are accustomed to Betfair’s atmosphere.

        Users can maximize their profit by using all the Betfair's betting insights available in GT Exchange. Moreover, Betfair Master Holders will be provided with additional features which will empower more control over Sub-Accounts.
    </div>
</div>
<div class="col-md-4">
    <span class="abouthead">
        <strong>Powered by</strong>
    </span>
    <div class="aboutimg">
        <img src="~/Content/Images/betfair-logo.png" />
    </div>
</div>

