<form id="SetPoundForm">
    <div class="col-md-12 form-horizontal">
        <h4>Reset Pound Rate</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-4 control-label">Current Dollar Rate</label>
            <div class="col-md-8">
                
                <label class="col-md-12">@ViewBag.CurrentRate</label>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Your Dollar Rate</label>
            <div class="col-md-8">
                <input type="text" id="PoundRate" class="form-control" value="@ViewBag.PoundRate"  />
                <label class="col-md-12 control-label  text-danger" id="lblError"></label>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="button" value="Update" id="btnResetPoundRate" class="btn btn-default" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#btnResetPoundRate").click(function () {

            if ($("#PoundRate").val().length > 0) {
                $.ajax({
                    url: '/DashBoard/ResetPoundRate',

                    type: 'POST',
                    data: { 'Rate': $("#PoundRate").val() },

                    complete: function () { },
                    success: function (data) {
                        if (data == "True") {
                            ShowErrorMsg("Dollar Rate reset successfully.");
                        }
                        else {
                            ShowErrorMsg(data);
                        }
                       
                    }
                });
            }
            else {
                $("#lblError").val('Please enter some value.');
            }
        });

    </script>

</form>
