@model IEnumerable<bfnexchange.Models.InPlayMatches>

<div class="defaultpage">
    <div class="col-md-12 no-padding">
        <div class="col-md-12 no-padding">
            <div class="headingdiv">
                <span class="headingcaption">
                    <strong>Related Event</strong>
                </span>
            </div>

            <div class="sporthighlightsuldiv">

                <div class="col-md-12 no-padding">

                    @foreach (var item in Model)
                    {

                        DateTime marketnameandtype = Convert.ToDateTime(item.EventOpenDate);
                        marketnameandtype=marketnameandtype.AddHours(5);


                        <div class="inplaydatarow">
                          
                          
                            <div class="inplaymatchname">
                                <a onclick="lastLevelBreadcrumb('@item.MarketCatalogueID.ToString()')">@item.EventName<br></a>

                            </div>
							@if (item.EventTypeName == "Horse Racing" || item.EventTypeName == "Greyhound Racing")
							{
							<div>
								@marketnameandtype.ToString(" hh: mm tt")
								@*@marketnameandtype*@

							</div>
							}
							else
							{
							<div>
								@marketnameandtype.ToString("dd-MM-yyyy hh: mm tt")
								@*@marketnameandtype*@

							</div>
							}


                        </div>
                    }

                </div>

            </div>





        </div>

    </div>

</div>




