<form id="ResetPasswordForm">
    <div class="col-md-12 form-horizontal">
        <h4>Reset Password</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-3 control-label" >Reset Password</label>
            <div class="col-md-8">
                <input type="password" id="ResetPassword" class="form-control" pattern=".{6,}"   required title="6 characters minimum" />
                <label class="col-md-12 control-label  text-danger" id="lblError"></label>
               
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" value="Update" id="btnResetPassword" class="btn btn-default" />
            </div>
        </div>
        </div>
    <script type="text/javascript">
        $("#btnResetPassword").click(function () {

            if ($("#ResetPassword").val().length >= 6) {
                $.ajax({
                    url: '/DashBoard/ResetPassword',
                    
                    type: 'POST',
                    data: { 'Password': $("#ResetPassword").val() },
                    
                    complete: function () { },
                    success: function (data) {
                        ShowErrorMsg("Password reset successfully.");
                        $("#ResetPassword").val('');

                    }
                });
            }
            else {
                $("#lblError").val('Minimum 6 Characters required.');
            }
        });
        
    </script>
   
    </form>

