@model List<bfnexchange.Models.CompletedResult>

<div class="col-md-12 no-padding">

	<table class="table">

		<tr>
			<th>
				MarketBookname
			</th>
			<th>
				Date
			</th>
			<th>
				Winnername
			</th>
		</tr>

		@foreach (var item in Model)
		{

			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.MarketBookname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedDate)
				</td>
				<td class="ledgerdebit">
					@Html.DisplayFor(modelItem => item.Winnername)
				</td>

			</tr>

		}

	</table>
</div>
<div id='myModalCompletedMatchedBets' class='modal'>
	<div class="modal-dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">User Bets</h4>
		</div>
		<div id="completedmatcedbetscontent" class="modal-content">
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>

</div>
<script type="text/javascript">
	var fromclicklocation = "";
	function showcompleteduserbets(userid, marketbookID) {
		if (marketbookID != "") {
			$.ajax({
				type: "GET",
				url: "/DashBoard/showcompleteduserbets",

				data: { 'userid': userid, 'marektbookID': marketbookID },
				success: function (result) {
					//debugger;
					$("#completedmatcedbetscontent").html(result);
					$("#myModalCompletedMatchedBets").modal('show');

				}

			});
		}

	}
</script>
