<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
	
	<i> <img src="~/Content/Images/112233.png.png" width="40" height="40" />Rules</i>
	<table>
		<tr>
			<th>Voided Bets</th>
		</tr>
		<tr>
			<td>
				Global Traders reserves the right to reverse, resettle or void any Market or bet in case of result change or mistake, etc , Exchange in that case will settle according to Global Trader. If any bets are voided by Betfair for any reasons we will not be responsible for it.

			</td>
		</tr>
		<tr>
			<th>Horse and GreyHound Racing</th>
		</tr>
		<tr>
			<td>In Place Markets , Dead Heat will be applicable on All Runners. Runner Positions will not matter.</td>
		</tr>
		<tr>
			<th>
				Even-Odd / Last Figure Markets
			</th>
		</tr>
		<tr>
			<td>In Figure and Kali (Even ODD) Markets only will be settled if Specific Overs are completed. Market will be voided if overs are not completed due to all team out , chase or rain or duck-worth etc.</td>
		</tr>
		<tr>
			<th>Fancy</th>
		</tr>
		<tr>
			<td>1. 1% commission will be charged in Betfair Fancy.</td>

		</tr>

		<tr>
			<td>2. No bets Will be Voided in Betfair Fancy (Line) Markets in case of NoBall or Wrong Commentary or Player Walkout etc.</td>
		</tr>
		<tr>
			<td>3. All fancy bets will be validated when match has been tied.</td>
		</tr>
		<tr>
			<td>4. All advance fancy will be suspended before toss or weather condition.</td>
		</tr>
		<tr>
			<td>5. In case technical error or any circumstances any fancy is suspended and does not resume result will be given all previous bets will be valid (based on haar/jeet).</td>
		</tr>
		<tr>
			<td>6. If any case wrong rate has been given in fancy that particular bets will be cancelled.</td>
		</tr>
		<tr>
			<td>7. In any circumstances management decision will be final related to all exchange items.</td>
		</tr>
		<tr>
			<td>8. In case customer make bets in wrong fancy we are not liable to delete, no changes will be made and bets will be consider as confirm bet..</td>
		</tr>
		<tr>
			<td>9. Due to any technical error market is open and result has came all bets after result will be deleted.</td>
		</tr>
		<tr>
			<td>10. Manual bets are not accepted in our exchange.</td>
		</tr>
		<tr>
			<td>11.Our exchange will provide 5 second delay in our tv.</td>
		</tr>
		<tr>
			<td>12. Once our exchange give username and password it is your responsibility to change a password.</td>
		</tr>
		<tr>
			<td>13. Penalty runs will not be counted in any fancy.</td>
		</tr>
		<tr>
			<td>14. Warning:- live scores and other data on this site is sourced from third party feeds and may be subject to time delays and/or be inaccurate. If you rely on this data to place bets, you do so at your own risk. Our exchange does not accept responsibility for loss suffered as a result of reliance on this data.</td>
		</tr>
		<tr>
			<td>15. Our exchange is not responsible for misuse of client id.</td>
		</tr>


	</table>
</body>
</html>